@import compass/css3

/* 變數: */
$btn-yellow: #ffba00
$blue: #00a0e8
$fail: #d71b1b
$pass: #64c803
$fb-color: #3c599b
$google-color: #e04a32
$wechat-color: #5bbf21
$main-color: #4b2240
$sup-color: #9d4186
$gold-color: #9a8a78
$blue-color: #22224b
$main-color-dark: #422139
$strong-color: #f66


/* responsive */
$lg: "(min-width: 1200px)"
$md: "(min-width: 992px) and (max-width: 1199px)"
$sm: "(min-width: 768px) and (max-width: 991px)"
$xs: "(min-width: 481px) and (max-width: 767px)"
$xxs: "(max-width: 480px)"

/* setting */

.test_content
	width: 1200px
	margin: 0 auto

::selection
	background: #ffba00
	color: black

::-moz-selection
	background: #ffba00

	color: black


body
	font-family: 'OpenSans Light','Myriad Pro' ,sans-serif,"微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4
	width: 100%
	height: 100%
	font-size: 15px

a
	+transition(ease 0.3s)
	&:hover
		color: $btn-yellow
	&:active
		text-decoration: none

strong
	font-weight: bold

input
	max-width: 100%

textarea
	max-width: 100%

.fit_img
	position: relative
	overflow: hidden

.main_wrapper
	width: 100%
	min-height: 100%

.a-555
	color: #555
	&:hover
		color: $btn-yellow

.a-blue
	color: $blue
	&:hover
		color: $btn-yellow

a.disabled
	pointer-events: none
	cursor: default
	opacity: 0.6

.main-color
	color: $main-color
.hint-color
	color: $gold-color
.sup-color
	color: $sup-color
.strong-color
	color: $strong-color

.main_text
	width: 100%
	float: left
	font-size: 1em
	color: #333
	line-height: 1.6em
	margin-bottom: 40px
	textarea
		width: 100%

.btn_wrapper
	width: 100%
	float: left
	text-align: center

.wrapper
	width: 100%

.wrapper-float
	width: 100%
	float: left

.ffleft
	float: left

.ffright
	float: right

.loading_icon
	width: 100%
	float: left
	text-align: center

.page_content
	width: 100%
	float: left

.bg_wrapper
	width: 100%
	height: 100%
	background-position: top center
	background-size: cover
	position: fixed
	top: 0
	left: 0
	z-index: -1

.main_color_bg
	background: $main-color

.blue_color_bg
	background: $blue-color

.hidden_xs
	@media #{$xs,$xxs}
		display: none!important
.hidden_xxs
	@media #{$xxs}
		display: none!important
.show_xs
	display: none!important
	@media #{$xs,$xxs}
		display: block!important
.show_xxs
	display: none
	@media #{$xxs}
		display: block!important
/* primary */

#panel
	background: #fff
	margin: 0
	border: 0
	border-radius: 0
	padding: 0
	box-shadow: none
	@media #{$xs,$xxs}
		clear: both
#menu
	background: $main-color-dark
	color: #fff

#header
	background: $main-color
	width: 100%
	float: left
	position: relative
	height: 115px
	padding: 10px 0
	@media #{$xs}
		height: 90px
	@media #{$xxs}
		height: auto

.logo
	float: left
	width: 230px
	img
		width: 100%
	@media #{$sm}
		width: 170px
	@media #{$xs}
		width: 160px
	@media #{$xxs}
		width: 96px

.mobile_menu
	width: 100%
	float: left
	.mobile_info
		width: 100%
		float: left
		text-decoration: none
		line-height: 1.6em
		border-top: solid 2px $sup-color
		border-bottom: solid 1px $main-color-dark
		background: $main-color-dark
		text-align: center
		padding: 10px 0
		a
			color: $main-color
			text-decoration: none
			text-align: center
			&:hover
				background: #fff
				color: $main-color
		.mobile_info_btn
			width: 76%
			display: inline-block
			padding: 5px 20px
			border-radius: 20px
			background: $sup-color
			margin: 6px 0
	.mobile_btn
		width: 100%
		float: left
		padding: 15px
		color: #fff
		font-size: 1em
		text-decoration: none
		line-height: 1.6em
		border-top: solid 1px #2D1D29
		font-family: OpenSans
		span
			float: right
			font-size: 0.9em
			color: $sup-color
		&:hover
			background: $main-color
		.open_icon
			display: inline-block
		.close_icon
			display: none
		&.open
			.open_icon
				display: none
			.close_icon
				display: inline-block
	ul.sub_list
		float: left
		background: $main-color-dark
		width: 100%
		margin: 0
		list-style-type: none
		overflow: hidden
		max-height: 0
		+transition(ease 0.3s)
		a
			width: 100%
			float: left
			color: $gold-color
			padding: 5px 0
		&.open
			max-height: 300px
			padding-bottom: 15px
	.mobile_search
		width: 100%
		padding: 0px 20px 20px 20px
		float: left
		.search_panel
			float: left
			position: relative
			width: 100%
			input.search_input
				width: 100%
				padding: 3px 30px 3px 3px
				height: 2em
				border: solid 1px $sup-color
				color: #fff
				background: transparent
				@media #{$xs}
					width: 160px
			.input_icon
				position: absolute
				top: 6px
				right: 8px
.header_menu
	width: calc(100% - 230px)
	float: right
	height: 100%
	padding-left: 10%
	@media #{$sm}
		width: calc(100% - 170px)
		padding-left: 5%
	@media #{$xs,$xxs}
		width: calc(100% - 160px)
		padding-left: 5%
		padding-top: 16px
		.slideout-toggle-m
			display: inline-block
			.open_icon
				display: inline-block
			.close_icon
				display: none
		.opened
			.open_icon
				display: none
			.close_icon
				display: inline-block
	@media #{$xxs}
		padding: 10px 0 0 0
	.sub_menu
		width: 100%
		float: right
		padding: 5px 0 15px 0
		text-align: right
		color: $sup-color
		@media #{$xxs}
			padding: 0
		a
			color: $sup-color
			text-decoration: none
			&:hover
				color: #fff
		.padding_border
			margin: 0 30px
		.search_panel
			display: inline-block
			margin-right: 30px
			position: relative
			input.search_input
				width: 180px
				padding: 3px 30px 3px 3px
				height: 2em
				border: solid 1px $sup-color
				color: #fff
				background: transparent
				@media #{$xs}
					width: 160px
			.input_icon
				position: absolute
				top: 6px
				right: 8px
	.main_menu
		width: 100%
		float: left
		border-top: solid 1px #a03a8b
		padding: 5px 0 0 0
		.main_btn
			list-style-type: none
			position: relative
			float: left
			color: #fff
			font-family: OpenSans
			text-decoration: none
			width: 120px
			text-align: center
			padding: 10px
			cursor: pointer
			@media #{$sm}
				width: 100px
				white-space: nowrap
				font-size: 0.9em
			a
				text-decoration: none
				span
					color: #fff
			span
				+transition(ease 0.3s)
			span.ch
				width: 100%
				position: absolute
				opacity: 0
				top: 10px
				left: 0
				color: $sup-color
				letter-spacing: 0.1em
			span.en
				opacity: 1
			&:hover
				span.ch
					opacity: 1
				span.en
					opacity: 0
				a
					span
						color: $sup-color
		li
			display: block
			position: relative
			float: left
		ul
			position: absolute
			width: auto
			top: 60px
			background: #fff
			display: none
			margin: 0
			padding: 7px 10px
			list-style: none
			z-index: 5
			text-align: left
			&:after
				content: ""
				width: 0
				height: 0
				position: absolute
				bottom: 100%
				left: 50%
				margin-left: -8px
				border-width: 0 8px 8px 8px
				border-style: solid
				border-color: #fff transparent
			li
				display: block
				font-size: 0.9em
				line-height: 1.8em
				white-space: nowrap
				a
					text-decoration: none
					color: $gold-color
					&:hover
						color: $sup-color
.carousel_wrapper
	width: 100%
	float: left
	position: relative
	.carousel_next
		position: absolute
		right: 2%
		top: 40%
		height: 26%
		z-index: 2
		img
			height: 100%
		&:hover
			right: 3%
	.carousel_prev
		position: absolute
		left: 2%
		top: 40%
		height: 26%
		z-index: 2
		img
			height: 100%
		&:hover
			left: 3%
.main_carousel
	width: 100%
	position: relative
	float: left
	img
		width: 100%
	.owl-controls
		width: 100%
		position: absolute
		bottom: 2%
	.owl-dots
		.owl-dot
			span
				background: #666
				width: 8px
				height: 8px
				margin: 5px 4px
		.owl-dot.active
			span
				background: $sup-color
/* index */

.index_block
	padding: 30px 0 40px 0
	@media #{$xs}
		padding: 10px 0

.index_catalog_tit
	width: 100%
	float: left
	text-align: center
	color: $gold-color
	height: 46px
	margin: 20px 0
	.catalog_tit_text
		width: 360px
		margin: 0 15px
		font-size: 2em
		float: left
		line-height: 46px
		height: 100%
		font-family: 'Open Sans', sans-serif
		@media #{$xs}
			font-size: 1.5em
			width: 250px
		@media #{$xxs}
			font-size: 1.3em
			width: 160px
			line-height: 1.2em
	.catalog_tit_left
		width: calc((100% - 390px) / 2)
		float: left
		height: 100%
		@media #{$xs}
			width: calc((100% - 290px) / 2)
		@media #{$xxs}
			width: calc((100% - 190px) / 2)
		&:before
			content: ''
			width: 16px
			height: 100%
			background: url(../images/primary/cata_tit_left_sta.png) left top
			float: left
		.tit_left_mid
			width: calc(100% - 36px)
			height: 100%
			background: url(../images/primary/cata_tit_left_mid.png) repeat-x left top
			float: left
		&:after
			content: ''
			width: 20px
			height: 100%
			background: url(../images/primary/cata_tit_left_end.png) left top
			float: left
	.catalog_tit_right
		width: calc((100% - 390px) / 2)
		float: left
		height: 100%
		@media #{$xs}
			width: calc((100% - 290px) / 2)
		@media #{$xxs}
			width: calc((100% - 190px) / 2)
		&:before
			content: ''
			width: 20px
			height: 100%
			background: url(../images/primary/cata_tit_right_sta.png) left top
			float: left
		.tit_right_mid
			width: calc(100% - 36px)
			height: 100%
			background: url(../images/primary/cata_tit_right_mid.png) repeat-x left top
			float: left
		&:after
			content: ''
			width: 16px
			height: 100%
			background: url(../images/primary/cata_tit_right_end.png) left top
			float: left

.banner_list
	width: 100%
	float: left
	.list_item_half
		width: calc((100% - 40px)/2)
		margin: 10px
		float: left
		&:before
			border-color: $main-color
			z-index: 1
		img
			width: 100%
		@media #{$xxs}
			width: 100%
			margin: 0 0 10px 0

.pro_catalog
	width: 100%
	float: left
.pro_cata_item
	width: calc((100% - 60px)/3)
	margin: 10px
	position: relative
	float: left
	background: #fff
	@media #{$xs}
		width: calc((100% - 40px)/2)
	@media #{$xxs}
		width: 100%
		margin: 0 0 15px 0
	img
		width: 100%
	.pro_info_overlay
		width: 100%
		padding: 10px 15px
		background: rgba(255,255,255,0.8)
		color: $main-color
		position: absolute
		bottom: 0
		left: 0
		font-size: 1.2em
		letter-spacing: 0.1em
		+transition(ease 0.3s)
		@media #{$sm,$xs,$xxs}
			font-size: 1em
		span
			float: right
	&.inpage
		width: calc((100% - 80px)/4)
		margin-bottom: 20px
		@media #{$md}
			width: calc((100% - 60px)/3)
		@media #{$sm,$xs}
			width: calc((100% - 40px)/2)
		@media #{$xxs}
			width: 100%
			margin: 0 0 15px 0
	&:hover
		.pro_info_overlay
			padding-bottom: 22px
	.pro_info_float
		width: 100%
		float: left
		padding: 20px
		font-size: 1.3em
		color: $main-color
		text-align: center
		letter-spacing: 0.1em
		@media #{$sm,$xs,$xxs}
			font-size: 1em
		span
			margin: 0 8px
		.ori_price
			font-size: 0.8em
			text-decoration: line-through
		.sale_price
	.pro_info_page
		width: 100%
		float: left
		padding: 10px
		color: $main-color
		.pro_name
			display: block
			color: $main-color
			width: 100%
			float: left
			white-space: nowrap
			text-overflow: ellipsis
			margin-bottom: 10px
			font-size: 1.1em
			overflow: hidden
			&:hover
				color: $sup-color
		.pro_size
			float: left
			.size_btn
				display: inline-block
				line-height: 1em
				padding: 1px 3px
				color: $gold-color
				border: solid 1px $gold-color
				font-size: 0.8em
				text-decoration: none
				margin-right: 4px
				&:hover
					color: #fff
					background: $gold-color
				&.selected
					color: #fff
					background: $gold-color
		.pro_price
			float: right
			span.ori_price
				font-size: 0.8em
				color: $gold-color
				text-decoration: line-through
			span.sale_price
				color: #f00

#footer
	width: 100%
	float: left
	background: $main-color
	padding: 20px 0
	margin-top: 20px
	.footer_about
		float: left
		position: relative
		padding-right: 30px
		border-right: solid 1px $gold-color
		.footer_logo
			display: inline-block
			width: 100%
			max-width: 210px
			img
				width: 100%
		.footer_linkout
			margin-top: 20px
			a
				margin-right: 18px
				float: left
				&:hover
					opacity: 0.8
		@media #{$xs,$xxs}
			width: 100%
			padding: 0
			text-align: center
			border: none
			.footer_linkout
				a
					display: inline-block
					float: none
					margin: 0 8px

	.footer_menu
		float: left
		padding: 20px
		.footer_sub_menu
			float: left
			margin-right: 30px
			line-height: 1.6em
			.sub_menu_tit
				color: $gold_color
				font-size: 0.9em
				font-family: 'Myriad Pro'
			a
				color: #fff
				text-decoration: none
				display: block
				&:hover
					color: $sup-color
		@media #{$xs,$xxs}
			width: 100%
			text-align: center
			vertical-align: top
			.footer_sub_menu
				display: inline-table
				float: none
				text-align: left
				margin: 0 8px
		@media #{$xxs}
			.footer_sub_menu
				display: inline-table
				width: 50%
				float: left
				text-align: center
				margin: 0
				padding-bottom: 20px
	.footer_info
		float: left
		padding-top: 20px
		.info_circle
			float: left
			margin-right: 7px
			&:last-child
				margin: 0
			@media #{$md}
				margin: 0 6px 7px 0
		.info_circle_wrapper
			display: table
		.info_circle_inner
			display: table-cell
			width: 80px
			height: 80px
			border: solid 1px $sup-color
			color: $gold-color
			text-align: center
			vertical-align: middle
			border-radius: 50%
			margin-right: 10px
			@media #{$md}
				width: 70px
				height: 70px
				font-size: 0.85em
	.footer_contact
		float: right
		text-align: right
		color: $sup-color
		margin-top: 20px
		b
			font-size: 1.4em
	.footer_rights
		width: 100%
		float: left
		color: $sup-color
		padding: 20px 0
		margin-top: 20px
		border-top: solid 1px $sup-color
	@media #{$lg}
		.forwrap
			display: none
	@media #{$sm,$xs,$xxs}
		.footer_info
			width: 100%
			text-align: center
			.forwrap
				display: none
			.info_circle
				float: none
				margin-right: 7px
				display: inline-block
		.footer_contact
			width: 100%
			text-align: center
		.footer_rights
			width: 100%
			text-align: center

// pages

.bread
	width: 100%
	float: left
	padding: 20px 0
	color: $main-color
	a
		color: $main-color
		&:hover
			color: $sup-color
		&:after
			content: ' > '
	span
		color: $gold-color

.page_content
	width: 100%
	float: left
	padding: 20px 0
	text-align: center
	color: #333

.product_page
	width: 100%
	float: left
	position: relative
	.product_info
		width: 280px
		float: right
		position: relative
		padding-left: 15px
		@media #{$xxs}
			width: 100%
			padding: 20px 7% 0 7%
			text-align: center
		.pro_sn
			display: block
			line-height: 1.6em
			font-size: 0.9em
			color: $gold-color
			span.sn_tit
				padding: 0 5px
				display: inline-block
				border: solid 1px $gold-color
				margin-right: 8px
			span.sn_text
		.pro_name
			font-size: 1.2em
			color: $main-color
			margin-bottom: 20px
			h2
				font-size: 1em
		.pro_price
			color: $gold-color
			font-size: 0.9em
			.ori_price
				text-decoration: line-through
			.sale_price
				color: #f00
				font-size: 1.4em
		.pro_function
			width: 100%
			border-top: dashed 1px $gold-color
			padding: 20px 0
			margin-top: 20px
			color: $gold-color
			font-size: 0.9em
			p
				margin-bottom: 20px
			.pro_color
				width: 100%
				.color_btn
					display: inline-block
					padding: 1px
					border: solid 1px transparent
					margin: 0 4px
					position: relative
					border: solid 1px #ddd
					&.disabled
						&:after
							content: ''
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
							background: url(../images/primary/disabled_color.png) repeat
					&.selected
						border: solid 1px $gold-color
					span
						display: inline-block
						width: 29px
						height: 13px
						border: solid 1px #ddd
			.pro_size
				width: 100%
				.size_btn
					display: inline-block
					line-height: 1em
					padding: 5px 6px 0 6px
					color: $gold-color
					border: solid 1px $gold-color
					text-decoration: none
					margin-right: 4px
					font-size: 1.1em
					&:hover
						color: #fff
						background: $gold-color
					&.selected
						color: #fff
						background: $gold-color
			.pro_num
				width: 100%
				.pro_num_select
					width: 70px
					border: solid 1px $gold-color
					padding: 5px 10px
					color: $gold-color
					border-radius: 0
					margin-left: 5px
			.pro_buy_btn
				width: 100%
				a.buy_btn
					padding: 10px 30px
					background: $main-color
					color: #fff
					display: inline-block
					vertical-align: middle
					font-size: 1.2em
					text-decoration: none
					&:hover
						background: $sup-color
						i
							color: #fff
					i
						color: $gold-color
						font-size: 2em
						margin-right: 8px
						vertical-align: middle
						+transition(ease 0.3s)


	.product_gallery
		width: calc(100% - 295px)
		float: left
		@media #{$xxs}
			width: 100%
			padding: 0 7%
		.product_main_pic
			width: 79%
			position: relative
			float: right
			padding-bottom: 79%
			overflow: hidden
			div
				position: absolute
				top: 0
				left: 0
				opacity: 0
				+transition(ease 0.5s)
				&.active
					opacity: 1
			img
				width: 100%
			@media #{$xs,$xxs}
				width: 100%
				float: left
				padding-bottom: 100%
		.product_side_pic
			width: 21%
			float: left
			padding-right: 18.5px
			div
				width: 100%
				float: left
				margin-bottom: 10px
				position: relative
				img
					width: 100%
					opacity: 0.7
				&:after
					content: ''
					width: 100%
					height: 100%
					position: absolute
					top: 0
					left: 0
					border: solid 0px $gold-color
					+transition(ease 0.3s)
				&.active
					&:after
						border: solid 3px $gold-color
					img
						opacity: 1
			@media #{$xs,$xxs}
				width: 100%
				padding: 10px 0 0 0
				div
					width: 23%
					margin-right: 2.6%
					&:last-child
						margin: 0

.product_content
	width: 100%
	float: left
	padding: 10px 0
	text-align: center
	color: $gold-color
	img
		max-width: 100%

.product_table
	display: inline-block
	width: 100%
	max-width: 80%
	overflow: auto
	@media #{$xxs}
		max-width: 96%
	table
		min-width: 100%
		width: auto
		margin: 0 auto
		border-collapse: collapse
		margin-bottom: 15px
		td
			padding: 8px 4px
		thead
			background: $gold-color
			color: #fff
		tbody
			color: $gold-color
			tr
				border-bottom: dashed 1px $gold-color


.form_tit_icon
	width: 100%
	float: left
	padding: 20px 0
	text-align: center
	font-size: 0
	.tit_icon_item
		width: calc(100% / 3)
		padding-top: 20px
		display: inline-block
		border-bottom: solid 5px lighten($gold-color, 20%)
		position: relative
		color: $gold-color
		font-size: 15px
		&:after
			content: ''
			position: absolute
			bottom: 0
			left: 50%
			margin-left: -3px
			border-right: solid 5px transparent
			border-left: solid 5px transparent
			border-bottom: solid 5px lighten($gold-color, 20%)
		.icon_circle
			position: relative
			display: inline-block
			width: 70px
			height: 70px
			line-height: 70px
			vertical-align: middle
			border: solid 5px lighten($gold-color, 20%)
			border-radius: 50%
			font-size: 1.8em
			i
				position: relative
				vertical-align: middle
				top: 15px
		.icon_text
			width: 100%
			font-size: 0.9em
			padding: 10px 0
		&.active
			border-color: lighten($sup-color, 20%)
			color: $sup-color
			&:after
				border-bottom-color: lighten($sup-color, 20%)
			.icon_circle
				border: solid 5px lighten($sup-color, 20%)



.member_form
	width: 100%
	max-width: 400px
	display: inline-block
	margin: 20px auto
	padding: 30px 40px
	vertical-align: top
	.form_table
		width: 100%
		float: left
		padding: 10px 26px
		table
			td
				padding: 12px 0
				color: #000
				text-align: left
				line-height: 1.4em
				span
					color: $gold-color
					font-size: 0.9em
				input.form_input
					width: 100%
					border: solid 1px #ccc
					line-height: 1em
					padding: 4px 4px 0
					color: $main-color
					border-radius: 3px
					&.captcha_input
						width: 74px
						vertical-align: middle
						margin-left: 4px
				a
					color: $gold-color
					text-decoration: none
					span
						+transition(ease 0.3s)
					&:hover
						color: $sup-color
						span
							color: $sup-color
	.form_btn_wrapper
		width: 100%
		float: left
		padding: 14px 0
		border-top: dashed 1px $gold-color
		text-align: left
	.form_btn
		width: 100%
		display: block
		padding: 10px 0
		color: #fff
		background: $main-color
		text-align: center
		text-decoration: none
		span
			color: $gold-color
			+transition(ease 0.3s)
		&:hover
			background: $sup-color
			span
				color: #fff
		&.fb_login
			background: $fb-color
			&:hover
				background: $sup-color
	.check_box_label
		color: $gold-color
		font-weight: normal
.page_form_tit
	width: 100%
	float: left
	font-size: 1.7em
	line-height: 1.2em
	color: $main-color
	border-bottom: solid 1px #ccc
	text-align: left
	margin-bottom: 30px
	span
		color: $gold-color
		margin-left: -0.55em


.cart_form
	width: 100%
	float: left
	margin-top: 30px
	.cart_table_wrapper
		width: 100%
		float: left
		overflow: auto
	.cart_table
		width: 100%
		float: left
		margin-bottom: 10px
		td
			padding: 5px 8px
		thead
			tr
				background: $main-color
			td
				color: #fff
		tbody
			td
				padding: 8px
				vertical-align: middle
				border-bottom: solid 1px #ccc
				&:first-child
					text-align: left
					padding-left: 0
				a
					color: $main-color
					&:hover
						color: $sup-color
		.cart_img
			width: 80px
			height: 80px
			float: left
			margin-right: 10px
			vertical-align: middle
			img
				max-width: 100%
		.cart_pro_name
			margin: 10px 0 5px
			display: inline-block
		.cart_event_name
			color: $gold-color
			display: inline-block
			&:hover
				color: $sup-color
	.cart_table_sum
		width: 100%
		float: left
		border-bottom: solid 1px #ccc
		font-size: 0.9em
		table
			float: right
			text-align: left
			td
				min-width: 160px
				padding: 5px 10px
				@media #{$xxs}
					min-width: auto
			tr.sum_total
				font-size: 1.1em
				span
					color: #f66
					font-size: 1.8em
	.cart_text
		width: 100%
		float: left
		padding: 20px 0
		text-align: left
		font-size: 0.9em
		margin-bottom: 30px
		p
			margin-bottom: 8px
			line-height: 1em
		span
			color: #f66

	.cart_related
		width: 100%
		float: left
		display: relative
		padding-bottom: 20px
		.owl-controls
			margin: 0
		.related_item
			img
				width: 100%
		.pro_info_cart
			width: 100%
			float: left
			padding: 10px 0
			color: $main-color
			.pro_name
				color: $main-color
				width: 100%
				float: left
				white-space: nowrap
				text-overflow: ellipsis
				font-size: 1em
				overflow: hidden
				&:hover
					color: $sup-color
			.pro_size
				margin-bottom: 4px
				.size_btn
					display: inline-block
					line-height: 1em
					padding: 1px 3px
					color: $gold-color
					border: solid 1px $gold-color
					font-size: 0.8em
					text-decoration: none
					margin: 2px
					&:hover
						color: #fff
						background: $gold-color
					&.selected
						color: #fff
						background: $gold-color
			.pro_price
				span.ori_price
					font-size: 0.8em
					color: $gold-color
					text-decoration: line-through
				span.sale_price
					color: #f00
		.related_buy_btn
			width: 90%
			margin: 4px 5%
			padding: 5px
			color: #fff
			background: $main-color
			float: left
			text-decoration: none
			span
				color: $gold-color
				+transition(ease 0.3s)
			&:hover
				background: $sup-color
				span
					color: #fff

.cart_step
	width: 100%
	float: left
	margin-bottom: 30px
	a
		float: right
		text-align: center
		min-width: 200px
		color: #fff
		background: $gold-color
		padding: 10px 15px
		text-decoration: none
		margin: 0 0 20px 20px
		&:hover
			background: $sup-color
		&.main_color_btn
			background: $main-color
			&:hover
				background: $sup-color

.cart_payment
	width: 100%
	float: left
	text-align: center
	margin-bottom: 20px
	.payment_btn_wrapper
		width: 260px
		max-width: 100%
		display: inline-block
		margin: 20px 3%
		vertical-align: top
	.payment_btn
		width: 100%
		position: relative
		input
			position: absolute
			bottom: 20px
			left: 50%
			margin-left: -5px
		label
			width: 100%
			padding: 25px 0 40px 0
			display: inline-block
			background: $main-color
			color: #fff
			text-decoration: none
			font-weight: normal
			+transition(ease 0.3s)
			&:hover
				background: $sup-color
			i
				font-size: 4em
				margin-bottom: 10px
	p
		text-align: left
		margin-top: 10px

.cart_bill_table
	width: 100%
	float: left
	padding-bottom: 20px
	text-align: left
	table
		width: 100%
		td
			padding: 10px 8px
			vertical-align: baseline
			&:first-child
				width: 120px
				vertical-align: top
				span
					display: inline-block
					padding: 4px 15px
					background: $main-color
					color: #fff
			input[type="checkbox"]
				margin-right: 3px
			label
				margin-right: 14px
				font-weight: normal
			.input_text
				max-width: 260px
				border: solid 1px #ccc
				border-radius: 3px
				margin-right: 3px
			select
				margin-right: 4px
			.textarea_text
				max-width: 360px
				width: 100%
				border: solid 1px #ccc
				border-radius: 3px
				margin-right: 3px
.bill_text
	width: 100%
	float: left
	padding: 20px 0
	text-align: left
	font-size: 0.9em
	margin-bottom: 30px
	border-top: dashed 1px #ccc
	border-bottom: solid 1px #ccc
	p
		margin-bottom: 8px
		line-height: 1em
	span
		color: #f66

.finished_order
	width: 100%
	float: left
	text-align: center
	padding: 50px 0
	.page_form_tit
		display: inline-block
		float: none
		max-width: 500px
		margin: 20px auto
		text-align: center
		padding-bottom: 10px
	.finish_text
		width: 100%
	a
		display: inline-block
		min-width: 200px
		background: $main-color
		padding: 4px 15px
		color: #fff
		padding: 10px 20px
		text-decoration: none
		margin-top: 10px
		&:hover
			background: $sup-color
