@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

@import "font-awesome.min.css";

@import "colors/green.css";
@import "colors/blue.css";
@import "colors/yellow.css";
@import "colors/violet.css";
@import "colors/pink.css";
@import "colors/orange.css";
@import "colors/gray.css";

.menu_container {
    background: none;
    margin-bottom: 11px;
    height: auto;
    line-height: normal;
    float: left;
    background: #333;
    position: relative;
}
.menu_container:hover {
    z-index: 100;
}

.menu-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.menu-ul,
.menu-ul > li,
.menu-ul li > a,
.menu-ul > li.active  a,
.menu-ul > li:hover a {
    background: none;
}

.menu-ul > li {
    font-family: "Century Gothic", "Microsoft Jhenghei";
    font-size: 14px;
    background: #333;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    -webkit-transition: all 150ms linear ;
       -moz-transition: all 150ms linear ;
        -ms-transition: all 150ms linear ;
         -o-transition: all 150ms linear ;
            transition: all 150ms linear ;
    /*box-shadow: inset 0 -4px 0 #ff4141;*/
    border-bottom: 4px solid #ff4141;
}
.menu-ul > li:hover,
.menu-ul > li.active {
/*    background: #ff4141;*/
    /*top: 2px;*/
}
.menu-ul > li > a {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    font-family: "Century Gothic", "Microsoft Jhenghei";;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    padding: 12px 20px 12px;
    text-align: left;
    text-decoration: none;
    position: relative;
}

.menu-ul  li.has-dropdown > a:after {
    content: "\203A";
    position: absolute;
    font-family: "Century Gothic", "Microsoft Jhenghei";;
    top: 50%;
    right: 10px;
    font-size: 15px;
    line-height: 16px;
    margin-top: -9px;
    font-weight: bold;
}
.menu-ul > li.has-dropdown > a:after {
    display: none;
}

.menu-ul > li > a > i {
    width: 19px;
    font-size: 14px;
}

.menu-ul > li.static > .menu-dropdown {
    margin-top: 0;
}

/* Full-width dropdown */
.menu-ul > li.has-dropdown.full-width {
    position: static;
}
.menu-ul > li.has-dropdown.full-width .menu-dropdown {
    width: 100%;
    left: 0;
    margin-top: 0;
}

.menu_container.vertical .menu-ul > li.has-dropdown.full-width {
    position: relative;
}

.menu_container.vertical .menu-ul > li.has-dropdown.full-width .menu-dropdown {
    width: 750px;
}

/* Dropdown block */

.menu-dropdown {
    position: absolute;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 200ms linear ;
    -moz-transition:  opacity 200ms linear ;
    -ms-transition:  opacity 200ms linear ;
    -o-transition:  opacity 200ms linear ;
    transition:  opacity 200ms linear;
    background-clip: content-box;
    width: auto;
    text-align: left;
    background: #333;
    background: rgba(0,0,0,0.82);
}

.menu-dropdown,
.submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 2px;
}

.menu-ul li.has-dropdown:hover > .menu-dropdown {
    visibility: visible;
    opacity: 1;
}

.menu-ul > li > .menu-dropdown {
    padding-left: 0;
    margin-top: 4px;
    left: 0;
}

.menu-ul > li > .menu-dropdown.right-align { left: auto; right: 0; }

.menu-ul > li > .menu-dropdown > ul.submenu-list {
    padding-left: 0;
}

.submenu-list li {
    display: block;
    padding: 0;
    margin: 0;
    -webkit-transition: all 150ms linear ;
    -moz-transition: all 150ms linear ;
    -ms-transition: all 150ms linear ;
    -o-transition: all 150ms linear ;
    transition: all 150ms linear ;
}

.submenu-list li > a {
    display: block;
    font-size: 13px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    text-align: left;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.submenu-list li:hover {
    background: #222;
    background: rgba(0,0,0,0.2);
    /*box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.8), inset 0 -13px 13px -13px rgba(0,0,0,0.99);*/
}

.submenu-list li .menu-dropdown {
    top: 0;
    left: 100%;
}

.submenu-list li .menu-dropdown.right-align {
    top: 0;
    left: auto;
    right: 100%;
    padding-left: 0;
    padding-right: 2px;
}

.submenu-list li > a {
    padding: 10px 25px 10px 15px;
    overflow: hidden;
}

.submenu-list li span.image {
    float: left;
    width: 30%;
    margin-right: 15px;
    padding: 1px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
}
.submenu-list li span.image img {
    display: block;
    width: 100%;
    border-radius: 2px;
    position: relative;
    z-index: 0;
}

.submenu-list li span.title {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
}

.submenu-list li span.title small {
    font-size: 12px;
}

.submenu-list li span.desc {
    padding: 5px 0;
    display: block;
    font-size: 13px;
    color: #A0A0A0;
    white-space: normal;
}

/* Submenu style */
.menu-dropdown.submenu,
.menu-dropdown.submenu .menu-dropdown {
    background: none;
}

.menu-dropdown.submenu li {
    background: #333;
    background: rgba(0,0,0,0.82);
    position: relative;
    width: inherit;
}
.menu-dropdown.submenu li:hover {
    /*background: rgba(0,0,0,0.88);
    background: #222;*/
}

.menu-dropdown.submenu ul {
    width: inherit;
}

/* Columns */
.menu-dropdown .columns {
    float: left;
    width: 100%;
}

.menu-dropdown .column-content {
    padding: 10px 20px;
    color: #999;
    /*text-shadow: 0px 1px 2px rgba(0,0,0,0.5);*/
    text-align: left;
}

.menu-dropdown .columns [class^="span"] {float: left}

.menu-dropdown .columns .span1 { width: 8.33333333333%; }
.menu-dropdown .columns .span2 { width: 16.6666666667%; }
.menu-dropdown .columns .span3 { width: 25%; }
.menu-dropdown .columns .span4 { width: 33.3333333333%; }
.menu-dropdown .columns .span5 { width: 41.6666666667%; }
.menu-dropdown .columns .span6 { width: 50%; }
.menu-dropdown .columns .span7 { width: 58.3333333333%; }
.menu-dropdown .columns .span8 { width: 66.6666666667%; }
.menu-dropdown .columns .span9 { width: 75%; }
.menu-dropdown .columns .span10 { width: 83.3333333333%; }
.menu-dropdown .columns .span11 { width: 91.6666666667%; }
.menu-dropdown .columns .span12 { width: 100%; }

.column_title {
    font-family: "Century Gothic", "Microsoft Jhenghei";
    color: #fff;
    font-weight: bold;
    font-size: 17px;
	line-height: 1em;
}

/* Forms */
.menu-dropdown .menu-form .field {
    overflow: hidden;
    margin-bottom: 10px;
}

.menu-dropdown span.field-label {
    color: #fff;
    line-height: 24px;
    display: block;
    margin-right: 3%;
}

.menu-dropdown span.field-input {
    display: block;
}

.menu-dropdown span.field-input input,
.menu-dropdown span.field-input textarea {
    border: 1px solid #333;
    padding: 6px 5px;
    margin: 0;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: inset 0 1px 6px rgba(0,0,0,0.3);
}

.menu-dropdown .field-submit {
    padding: 8px 20px;
    background: #41484f;
    border: 1px solid #222;
    color: #fff;
    -webkit-transition: all 150ms linear ;
    -moz-transition: all 150ms linear ;
    -ms-transition: all 150ms linear ;
    -o-transition: all 150ms linear ;
    transition: all 150ms linear ;
    margin: 0;
    cursor: pointer;
}
.menu-dropdown .field-submit:hover {
    background: #ff4141;
}
/*************/

.menu-dropdown.custom li.field {
    padding: 15px 20px;
}

.menu-dropdown p {
    color: #999;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    text-align: left;
    margin-bottom: 1em;
}

.menu-dropdown p.links a {
    text-decoration: none;
    color: #fff;
}
.menu-dropdown p.links a:hover { text-decoration: underline; }

/* Left Align */
.menu_container.vertical {
    float: left;
}

.menu_container.vertical .menu-ul {
    float: left;
}

.menu_container.vertical .menu-ul li {
    float: none;
}

.menu_container.vertical .menu-ul > li {
    border-bottom: none;
    border-right: 4px solid #ff4141;
}

.menu_container.vertical .menu-ul > li > .menu-dropdown {
    border-top: none;
    margin-top: 0;
    margin-left: 4px;
    top: 0;
    left: 100%;
}

/* Spaced */
.menu_container.spaced .menu-ul > li { margin-left: 2px; }
.menu_container.spaced .menu-ul > li:first-child { margin-left: 0; }

.menu_container.vertical.spaced .menu-ul > li {
    margin-left: 0;
    margin-top: 2px;
}
.menu_container.vertical.spaced .menu-ul > li:first-child { margin-top: 0; }

/* Centered container */

.menu_container.centered .menu-ul {
    width: 960px;
    margin: 0 auto;
}

/* Fixed position */
.menu_container.topfixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.menu_container.leftfixed {
    position: fixed;
    top: 100px;
    left: 0px;
}

.w100 { width: 100px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w400 { width: 400px; }
.w500 { width: 500px; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w800 { width: 800px; }
.w900 { width: 900px; }

.text-right { text-align: right; }