
/* Blue Theme */

.menu_container.blue .menu-ul > li {
    border-bottom: 4px solid #009cdf;
}
.menu_container.blue .menu-ul > li:hover,
.menu_container.blue .menu-ul > li.active {
    background: #009cdf;
    /*top: 2px;*/
}

.menu_container.blue.vertical .menu-ul > li {
    border-right: 4px solid #009cdf;
}

.menu_container.blue .field-submit:hover {
    background: #009cdf;
}