
/* Orange Theme */

.menu_container.orange .menu-ul > li {
    border-bottom: 4px solid #ff7a46;
}
.menu_container.orange .menu-ul > li:hover,
.menu_container.orange .menu-ul > li.active {
    background: #ff7a46;
    /*top: 2px;*/
}

.menu_container.orange.vertical .menu-ul > li {
    border-right: 4px solid #ff7a46;
}

.menu_container.orange .field-submit:hover {
    background: #ff7a46;
}