
/* Pink Theme */

.menu_container.pink .menu-ul > li {
    border-bottom: 4px solid #e782bc;
}
.menu_container.pink .menu-ul > li:hover,
.menu_container.pink .menu-ul > li.active {
    background: #e782bc;
    /*top: 2px;*/
}

.menu_container.pink.vertical .menu-ul > li {
    border-right: 4px solid #e782bc;
}

.menu_container.pink .field-submit:hover {
    background: #e782bc;
}