
/* Violet Theme */

.menu_container.violet .menu-ul > li {
    border-bottom: 4px solid #7f62bd;
}
.menu_container.violet .menu-ul > li:hover,
.menu_container.violet .menu-ul > li.active {
    background: #7f62bd;
    /*top: 2px;*/
}

.menu_container.violet.vertical .menu-ul > li {
    border-right: 4px solid #7f62bd;
}

.menu_container.violet .field-submit:hover {
    background: #7f62bd;
}