
/* Yellow Theme */

.menu_container.yellow .menu-ul > li {
    border-bottom: 4px solid #eec244;
}
.menu_container.yellow .menu-ul > li:hover,
.menu_container.yellow .menu-ul > li.active {
    background: #eec244;
    /*top: 2px;*/
}

.menu_container.yellow.vertical .menu-ul > li {
    border-right: 4px solid #eec244;
}

.menu_container.yellow .field-submit:hover {
    background: #eec244;
}