@charset "UTF-8";

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) 	format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) 	format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) 	format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) 	format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) 	format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) 	format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) 	format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) 	format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) 	format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) 	format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) 	format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) 	format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) 	format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) 	format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) 	format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) 		format('opentype');
 }

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin: 0;	
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

p{line-height: 1.5em;color: #888}

strong{font-size: 1em;color: #666}

a{
color:#333;
text-decoration:none;
}

a:hover {
color:#333;
text-decoration:none;
}

li {
list-style-type: none;
}
img{
	vertical-align: bottom;
}

.columns [class^="span"] {float: left}
.columns [class^="col"] {float: left}
.columns [class^="col"] img{width: 100%;}

.columns .span1 	{ width: 8.33333333333%; 	}
.columns .span2 	{ width: 16.6666666667%; 	}
.columns .span3 	{ width: 25%; 				}
.columns .span4 	{ width: 33.3333333333%; 	}
.columns .span5 	{ width: 41.6666666667%; 	}
.columns .span6 	{ width: 50%; 				}
.columns .span7 	{ width: 58.3333333333%; 	}
.columns .span8 	{ width: 66.6666666667%; 	}
.columns .span9 	{ width: 75%; 				}
.columns .span10 	{ width: 83.3333333333%; 	}
.columns .span11 	{ width: 91.6666666667%; 	}
.columns .span12 	{ width: 100%; 				}

.w100 { width: 100px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w400 { width: 400px; }
.w500 { width: 500px; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w800 { width: 800px; }
.w900 { width: 900px; }



/*----------------fontStyle---------------------
------------------fontStyle---------------------
------------------fontStyle------------------ */
body {
font-family: "Century Gothic", "Microsoft Jhenghei";
font-size: 16px;
line-height: 2.2;
color:#333;
letter-spacing:1px;
-webkit-text-size-adjust:100%;
}

h1 { font-size: 2em;		line-height: 1.6em }
h2 { font-size: 1.875em;	line-height: 1.6em }
h3 { font-size: 1.5em;		line-height: 2.4em }
h4 { font-size: 1.125em;	line-height: 1.6em }
h5 { font-size: 1em;		line-height: 1.4em }
h6 { font-size: .75em;		line-height: 1.6em }

small, .small{ font-size: 75%}

.text-right { text-align: right; }



/*----------------testColor---------------------
------------------testColor---------------------
------------------testColor------------------ */
.bg-GRAY{background-color: gray}
.bg-PINK{background-color: pink}
.bg-RED {background-color: red }
.bg-f0{background-color: #f0f0f0}
.bg-Gradient-GRAY{
	background: rgb(237,237,237);
	background: -moz-linear-gradient 					(-45deg,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 95%);
	background: -webkit-linear-gradient 				(-45deg,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 95%);
	background: linear-gradient 						(135deg,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient 	( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
}
.bg-e8eef1{ background-color: #e8eef1;}



/*----------------cleadfix---------------------
------------------cleadfix---------------------
------------------cleadfix------------------ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}
