/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,800italic,600);

#modal_loading{background:rgba(0, 0, 0, 0.7);position:fixed;z-index:99999;top:0;left:0;text-align:center;vertical-align:middle;display:none;}
#modal_loading .box{background:#fff;width:40%;margin: 0 0 0 -20%;position:fixed;z-index:999999;top: 40%;left: 50%;opacity:1;border:none;box-shadow:0 1px 4px 1px rgba(0, 0, 0, .3);border-radius:6px;}
#modal_loading .loading{margin:40px auto 20px auto;}
#modal_loading .content{margin:20px auto 40px auto;}
#modal_message{background:rgba(0, 0, 0, 0.7);position:fixed;z-index:99999;top:0;left:0;text-align:center;vertical-align:middle;display:none;}
#modal_message .box{background:#fff;width:40%;margin: 0 0 0 -20%;position:fixed;z-index:999999;top: 40%;left: 50%;opacity:1;border:none;box-shadow:0 1px 4px 1px rgba(0, 0, 0, .3);border-radius:6px;}
#modal_message .title{margin:40px auto 20px auto;}
#modal_message .content{margin:20px auto 40px auto;}

#floatingCirclesG{position:relative;width:128px;height:128px;display: inline-block;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);}
.f_circleG{position:absolute;background-color:#FFFFFF;height:23px;width:23px;-moz-border-radius:12px;-moz-animation-name:f_fadeG;-moz-animation-duration:0.88s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:12px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.88s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:12px;-ms-animation-name:f_fadeG;-ms-animation-duration:0.88s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:12px;-o-animation-name:f_fadeG;-o-animation-duration:0.88s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:12px;animation-name:f_fadeG;animation-duration:0.88s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:52px;-moz-animation-delay:0.33s;-webkit-animation-delay:0.33s;-ms-animation-delay:0.33s;-o-animation-delay:0.33s;animation-delay:0.33s;}
#frotateG_02{left:15px;top:15px;-moz-animation-delay:0.44s;-webkit-animation-delay:0.44s;-ms-animation-delay:0.44s;-o-animation-delay:0.44s;animation-delay:0.44s;}
#frotateG_03{left:52px;top:0;-moz-animation-delay:0.55s;-webkit-animation-delay:0.55s;-ms-animation-delay:0.55s;-o-animation-delay:0.55s;animation-delay:0.55s;}
#frotateG_04{right:15px;top:15px;-moz-animation-delay:0.66s;-webkit-animation-delay:0.66s;-ms-animation-delay:0.66s;-o-animation-delay:0.66s;animation-delay:0.66s;}
#frotateG_05{right:0;top:52px;-moz-animation-delay:0.77s;-webkit-animation-delay:0.77s;-ms-animation-delay:0.77s;-o-animation-delay:0.77s;animation-delay:0.77s;}
#frotateG_06{right:15px;bottom:15px;-moz-animation-delay:0.88s;-webkit-animation-delay:0.88s;-ms-animation-delay:0.88s;-o-animation-delay:0.88s;animation-delay:0.88s;}
#frotateG_07{left:52px;bottom:0;-moz-animation-delay:0.99s;-webkit-animation-delay:0.99s;-ms-animation-delay:0.99s;-o-animation-delay:0.99s;animation-delay:0.99s;}
#frotateG_08{left:15px;bottom:15px;-moz-animation-delay:1.1s;-webkit-animation-delay:1.1s;-ms-animation-delay:1.1s;-o-animation-delay:1.1s;animation-delay:1.1s;}
@-moz-keyframes f_fadeG{0%{background-color:#FFB700}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#FFB700}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#FFB700}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#FFB700}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#FFB700}100%{background-color:#FFFFFF}}

.nicescroll-rails > div{border:0 !important;}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #9a8a78;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

#loading{
	width: 100%;
	height: 3px;
	position: fixed;
	z-index: 99;
	background-color: rgb(0,142,195);
}

/*slideout*/

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-toggle-m{
  display: none;
}

@media (min-width: 481px) and (max-width: 767px), (max-width: 480px) {
  .slideout-toggle-m {
    display: block;
  }
}

.fixed {
  backface-visibility: hidden;
  position: fixed;
  z-index:999;
  transition: transform 300ms ease;
}

.fixed-open {
  transform: translate3d(-256px, 0px, 0px);
}


/* cover hover.css */

.hvr-reveal{
  position: relative;
}
.hvr-reveal:before{
  border-color: #4b2240;
  z-index: 1;
}

.hvr-opacity{
  transition: ease 0.3s;
}
.hvr-opacity:hover{
  opacity: 0.8;
}