@charset "UTF-8";

body{width: 100%;min-height: 100%;font-family: "Century Gothic", "Microsoft Jhenghei";
 }

.menu-ul > li { font-family: "Century Gothic", "Microsoft Jhenghei"; }


#pageBanner	{position: relative;width: 100%; height:auto;margin: 0 auto;min-height: 100%; overflow: hidden;}
#pageBanner2{position: relative;width: 100%;margin: 0 auto;min-height: 100%; overflow: hidden;}
#breadcrumbs{position: relative;width: 100%;margin: 0 auto;min-height: 100%;}
#pageBanner img{width: 100%;}

.inbox{width: 92%; max-width: 1350px;min-height: 100%; margin: 0 auto; padding: 3% 0 ;overflow: hidden;}

.box1100{width: 100%; max-width: 1100px; margin: 0 auto;}

.box2{width: 50%; height: auto;padding: .5% 2%;float: left;overflow: hidden;}

.box3{width: 33.33333%; height: auto;padding: 2% 6.7%;float: left;overflow: hidden;}

.box4{width: 25%;height: auto;float: left;padding: 2em 3.5em;overflow: hidden;}

.pageTitle01,.pageTitle02,.pageTitle03 {display: block;margin-bottom: 1.3em;}
.pageTitle01 h3,.pageTitle02 h3,.pageTitle03 h3{color: #333;}
.pageTitle01 h4,.pageTitle02 h4{color: #0ba1d0;}
.pageTitle02{padding: 0 2%;}

.columns .col1 	{ width: 8.33333333333%; 	}
.columns .col2 	{ width: 16.6666666667%; 	}
.columns .col3 	{ width: 25%; 				}
.columns .col4 	{ width: 33.3333333333%; 	}
.columns .col5 	{ width: 41.6666666667%; 	}
.columns .col6 	{ width: 50%; 				}
.columns .col7 	{ width: 58.3333333333%; 	}
.columns .col8 	{ width: 66.6666666667%; 	}
.columns .col9 	{ width: 75%; 				}
.columns .col10 	{ width: 83.3333333333%; 	}
.columns .col11 	{ width: 91.6666666667%; 	}
.columns .col12 	{ width: 100%; 				}

/*-------------------------------------header------------------------------------------*/
header{width: 100%;height: 224px;position: relative;z-index: 999}

.navBox{
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
/*	max-width: 1350px;*/
	height: 254px;
	margin: 0 auto;
	background:#fff; 
}

.navinBox{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 254px;
	max-width: 1350px;
	margin: 0 auto;
}

.navinBox > .inner{width: 100%; position: absolute;bottom: 0;left: 0;right: 0;margin: 0 auto;}

.logoB{
	position: absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	width: 190px;
	height: 155px;
	margin: 0 auto;
	opacity: 1;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.logoB:hover,
.logo:hover{
	opacity: .7;
}

.logo{
	position: absolute;
	bottom:0;
	left:20px;
	z-index: 999;
	opacity: 1;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.logo img{
	width: 112px;
	height: 68px;
	opacity: 0;
}

.logoTop{
	position: absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	width: 135px;
	height: 70.5px;
	margin: 0 auto;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.logoLeft{
	position: absolute;
	top: 0;
	bottom:0;
	left:0;
	width: 135px;
	height: 70.5px;
	margin: 0 auto;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}



#gNav{width: 80%; max-width: 1075px;margin: 0 auto;}

#gNav ul li{height: 77px;float: left;padding-left: 5%;line-height: 73px;}

#gNav ul li a{
	color: #333;
	font-weight: bold;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#gNav ul li a:hover{color:#0ba3d2;}

.headerButtons{
	position: absolute;
	width: 140px;
	height: 70px;
	bottom: 0;
	right: 20px;
	z-index: 1000;
}

.headerButtons li{width: 32px;height: 32px;float: right;padding-right: 32%;margin-top: 20px;}

.headerButtons li a{
	display: block;
	width: 32px;
	height: 32px;
	background:#ededed url(../images/main/icon.png);
	background-size: 200%;
	border-radius: 10em;
	border: solid 1px #ccc;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.headerButtons li a:hover {background-color: #fff;}


.headerButtons li:nth-child(2) a{
	background-position: top right;
}

.headerButtons li:nth-child(3) a{
	background-position: bottom left;
}



.headerLine{
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	height: 3px;
	background: rgb(111,228,252);
	background: -moz-linear-gradient(left,  rgba(111,228,252,1) 0%, rgba(0,133,255,1) 40%, rgba(54,83,144,1) 65%, rgba(54,83,144,1) 100%, rgba(0,66,106,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(111,228,252,1) 0%,rgba(0,133,255,1) 40%,rgba(54,83,144,1) 65%,rgba(54,83,144,1) 100%,rgba(0,66,106,1) 100%);
	background: linear-gradient(to right,  rgba(111,228,252,1) 0%,rgba(0,133,255,1) 40%,rgba(54,83,144,1) 65%,rgba(54,83,144,1) 100%,rgba(0,66,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe4fc', endColorstr='#00426a',GradientType=1 );
}



.aboutBanner1{ 
	display: block;
	width: 100%;height: 500px;
	background-image:url(../images/main/bxslider-02.png);
	background-repeat: no-repeat;
	background-position:  center center;
 }

.aboutBanner2{ background-image: url(../images/main/bxslider-03.png); }


/*-----------------megaMunu-------------------*/
.megaMenu{
	width: 100%;
/*	max-width: 1920px;*/
	height: 224px;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	background:rgba(255,255,255,.98);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

.innerMenu{
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 224px;
	max-width: 1350px;
	margin: 0 auto;
}

.menu_container{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: none;
	
}

.menu-ul{
	width: 939px;
	margin: 0 auto;
}

.menu-ul > li > .menu-dropdown{margin: 0;}

.menu-ul > li.has-dropdown.full-width .menu-dropdown{
	max-width: 1350px;
	margin: 0 auto; 
	left: 0;
	right: 0;
	}

.menu-dropdown, .submenu-list{
	background:rgba(255,255,255,.99);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), 0 1px 2px rgba(0, 0, 0, 0.3);

}

.menu-ul li.has-dropdown:hover > .menu-dropdown{
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	transition: all .1s;
}

.menu-ul > li{
	background: none;
	border-bottom: none;
}

.menu-ul > li > a{
	height: auto;
	padding: 24px 20px;
	color: #555;
	font-weight: bold;
	text-shadow: none;

}

.menu-ul > li:hover, .menu-ul > li.active{
	background: none;

}

.menu-ul > li > a:hover{
	color: #2380a4;
	font-weight: bold;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.menu-ul > li:hover > a{
	color: #2380a4;
	font-weight: bold;
}

.menu-dropdown .column-content{
	padding: 12px 24px 24px 34px ;
	/*text-shadow:0px 1px 1px rgba(0,0,0,0.1);*/
}

.menu-dropdown .column-content h4{
	line-height: 4em;
}

.menu-dropdown .column-content li{
	line-height: 1.8em;
}

.menu-dropdown .column-content a{
	color: #999;
}

.menu-dropdown .column-content a:hover{
	color: #2380a4;

	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
}

.menu-dropdown .column-content{ text-shadow: 0; }
/*----------------search-------------------*/

#headerSearch input {
	outline: none;
}

#headerSearch input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

#headerSearch input::-webkit-search-decoration,
#headerSearch input::-webkit-search-cancel-button {
	display: none; 
}

#headerSearch input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px center;
	border: solid 1px #ccc;
	padding: 5px 1px 3px 32px;
	width: 26px;
	

	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#headerSearch input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #0ba3d2;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#headerSearch input:-moz-placeholder {
	color: #999;
}

#headerSearch input::-webkit-input-placeholder {
	color: #999;
}

#headerSearch input[type=search] {
	width: 26px;
	padding-left: 3px;
	color: transparent;
	cursor: pointer;
}

#headerSearch input[type=search]:hover {
	background-color: #fff;
}

#headerSearch input[type=search]:focus {
	width: 90px;
	padding-left: 30px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

#headerSearch input:-moz-placeholder {
	color: transparent;
}

#headerSearch input::-webkit-input-placeholder {
	color: transparent;
}

/*----------------hambuger-------------------*/

#hambuger{display: none;}

#humContainer {
  position: relative;
  left: 0;
  -webkit-transition: left 300ms ease;
  transition: left 300ms ease;
  display: inline-block;
  width: 100%;
}


#main-nav {
  width: 100%;
  height: 60px;
  background: #efefef;
  position: fixed;
  top: 0;
  z-index: 100;
  display: inline-block;
}
#main-nav .ham-logo {
  width: 188px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  color: #333;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  position: relative;
}
#main-nav .ham-logo img{
	width: 100%;
	height: auto;
}

#humContainer #searchBun{
	position: fixed;
	z-index: 999;
	right:10px;
	top:12px;
	width: 38px;
	height: 38px;
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 7px center;

}



.button_container.hamActive .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #c5062f;
}
.button_container.hamActive .middle {
  opacity: 0;
  background: #c5062f;
}
.button_container.hamActive .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #c5062f;
}







#humContainer #bun {
  position: fixed;
  left: 10px;
  top: 20px;
/*  background: #404040;*/
  width: 38px;height: 38px;
  cursor: pointer;
/*  border: 1px solid #444444;*/
/*  box-shadow: 0px 0px 0px 1px #1f1f1f;*/
  overflow: hidden;
  z-index: 999;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

#humContainer #bun .mmm-burger.hamActive{
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
}
#humContainer #bun .mmm-burger.hamActive:before {
  opacity: 0;
}
#humContainer #bun .mmm-burger.hamActive:after {
  -webkit-transform: translateY(-16px) translateX(0) rotate(-90deg);
  transform: translateY(-16px) translateX(0) rotate(-90deg);
}

#humContainer #bun .mmm-burger {
  position: absolute;
  width: 25px;
/*  margin: 18px 7px 0;*/
  height: 3px;
  background: #333;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
#humContainer #bun .mmm-burger:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #333;
  right: 0;
  top: 8px;
   -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
#humContainer #bun .mmm-burger:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #333;
  right: 0;
  top: 16px;
   -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
#humContainer #bun:before {
  content: '';
  top: -10px;
  left: -45px;
  width: 30px;
  height: 75px;
  position: absolute;
  opacity: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transition: left 300ms linear 50ms, opacity 20ms linear;
  transition: left 300ms linear 50ms, opacity 20ms linear;
}
/*#humContainer #bun:hover:before {
  opacity: 1;
  left: 100px;
}*/

#sidebar {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: #efefef;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  left: -1300px;
  top: 0;
  -webkit-transition: left 300ms ease;
  transition: left 300ms ease;
}

#sidebar #mobile-nav .mobile-nav-ul{
	margin-top:60px;
}

#sidebar #mobile-nav .mobile-logo {
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 1500ms ease;
  transition: opacity 1500ms ease;
}
#sidebar #mobile-nav ul {
  margin: 0;
  padding: 4px 0;
}
#sidebar #mobile-nav ul .nav-item {
  position: relative;
  z-index: 1001;
  border-top: 0px solid trandsparent;
  border-bottom: 0px solid trandsparent;
  float: left;
  list-style: none;
  width: 100%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.05);
/*  border-top: 1px solid #ccc;
  border-bottom: 1px solid #aaa;*/
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: scale(0.75, 0.75);
          transform: scale(0.75, 0.75);
  opacity: 0;
  -webkit-transition: left 300ms linear 2s, opacity 100ms ease-in 600ms;
  transition: left 300ms linear 2s, opacity 100ms ease-in 600ms;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms;
  transition: -webkit-transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms;
  transition: transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms;
  transition: transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms, -webkit-transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75) 500ms;
  -webkit-transition: border-top 40 ease 0ms, border-bottom 40 ease 0ms, box-shadow 150 ms ease-in;
  transition: border-top 40 ease 0ms, border-bottom 40 ease 0ms, box-shadow 150 ms ease-in;
}
/*#sidebar #mobile-nav ul .nav-item:hover {
  box-shadow: 0 0px 12px 3px #ababab;
  z-index: 100;
}
#sidebar #mobile-nav ul .nav-item:hover:after {
  color: #333;
}*/
#sidebar #mobile-nav ul .nav-item a{ 
	position: relative;
	z-index: 1001;
 }
#sidebar #mobile-nav ul .nav-item h3 {
  position: relative;
  z-index: 1001;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  padding: 15px 25px;
  margin: 0;
  text-align: center;
/*  text-shadow: 0px -2px #ddd;*/
}
#sidebar #mobile-nav ul .nav-item:first-child {
/*  border-top: 1px solid #ccc;*/
  margin: 0;
}
/*#sidebar #mobile-nav ul .nav-item:first-child:hover {
  box-shadow: 0 4px 16px 0px #ababab !important;
}*/
#sidebar #mobile-nav ul .nav-item:last-child {
/*  border-bottom: 1px solid #ababab;*/
}
/*#sidebar #mobile-nav ul .nav-item:last-child:hover {
  box-shadow: 0 -4px 16px 0px #ababab !important;
}*/
#sidebar #mobile-nav ul .sub-nav {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: inset 0 -7px 12px rgba(0, 0, 0, 0.15) !important;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item {
  position: relative;
  float: left;
  list-style: none;
  width: 100%;
  color: #333;
  font-size: 1.25rem;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
/*  border-top: 1px solid #aaa;
  border-bottom: 1px solid #888;*/
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
/*#sidebar #mobile-nav ul .sub-nav .sub-nav-item:hover h4 {
  color: #333;
}*/
#sidebar #mobile-nav ul .sub-nav .sub-nav-item h4 {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  padding: 11px 20px 10px 40px;
  margin: 0;
  /*text-shadow: 0px -2px #f7f7f7;*/
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item:first-child {
  border-top: none;
}
#sidebar #mobile-nav ul .sub-nav .sub-nav-item:last-child {
  border-bottom: none;
}

.nav-slide {
  left: 0 !important;
}
.nav-slide #mobile-nav .mobile-logo {
  opacity: 1 !important;
}

.body-slide {
  left: 300px !important;
}
.body-slide #main-nav .logo {
  opacity: 0 !important;
}

.item-slide {
  -webkit-transform: scale(1, 1) !important;
          transform: scale(1, 1) !important;
  opacity: 1 !important;
}

.scroll-jam {
  height: 100%;
  overflow-y: hidden;
}

.arrowed:after {
  content: '+';
  width: 25px;
  height: 25px;
  position: absolute;
  color: #333;
  right: 6px;
  font-size: 26px;
  top: 0;
}

.selected {
  box-shadow: 0 0 12px 3px #ababab !important;
}
.selected:after {
  content: "_";
  width: 25px;
  height: 25px;
  position: absolute;
  color: #333;
  right: 4px;
  font-size: 20px;
  top: 4px;
}






/*-------------------------------------j_owl.carousel-theme------------------------------------------*/


.carouselContBox{ 
	position: absolute;
	bottom: 0;
	top:0;
	margin: auto;
	width: 25%;
	height: 160px;
/*	background-color: rgba(255,255,255,.85);*/
 }

.carouselContBox h1 { color:#fff; }
.carouselContBox h5 { color:#fff; }
.carouselContBox p 	{ color:#eee; font-weight: 800;}


#owl-carousel-slider .item .inbox { padding:0; }

.carouselContBoxItem1{ 
	position: absolute;
 	width: 100%;
 	height: 160px;
 	padding: 1em ;
 	text-align: center;
/*	background-color: rgba(231,45,15,.85);*/
  }





/*----------------carousel-theme-------------------*/
.owl-theme .owl-dots{margin-top: -40px;}

.owl-theme .owl-nav{
	position: absolute;
	margin: 0 auto;
	top: 50%;
	bottom: 0;
	left:0;
	right: 0;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
	position: absolute;
	width: 42px;
	height: 42px;
	-webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-size: 200%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	opacity: .8;
}

.owl-carousel-ctm .owl-nav .owl-prev,
.owl-carousel-ctm .owl-nav .owl-next{
	width: 60px;
	height: 60px;
}

.owl-carousel .owl-nav .owl-prev{
	left:10px;
	background: url(../images/main/_jq/bxslider_direction.png) no-repeat top left;
	background-size: 200%;
}
.owl-carousel .owl-nav .owl-next{
	right:10px;
	background: url(../images/main/_jq/bxslider_direction.png) no-repeat top right;
	background-size: 200%;
}

.owl-carousel .owl-nav .owl-prev:hover {
    background:url(../images/main/_jq/bxslider_direction.png) no-repeat top left;
    background-size: 200%;
}

.owl-carousel .owl-nav .owl-next:hover {
    background:url(../images/main/_jq/bxslider_direction.png) no-repeat top right;
    background-size: 200%;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover{opacity: 1;}

.owl-theme .owl-dots .owl-dot span {
    border:solid 1px rgba(255,255,255,.75);
    background: none;
    width: 10px;
    height: 10px;
    margin: 5px 6px;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    background-size: 200%;
    -webkit-backface-visibility: visible;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease
  }

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
      background: rgba(255,255,255,.75); 
  }

/*----------------carousel-ctm-theme------------------*/

.owl-theme-ctm .owl-nav{
	position: absolute;
	top:50%;
	width: 100%;
}

.owl-carousel-ctm .owl-nav .owl-prev{
	left:0px;
/*	background: url(../images/main/_jq/bxslider_direction.png) no-repeat  left -42.5px;*/
	background: url(../images/main/_jq/bxslider_direction.png) no-repeat  left -60px;
	background-size: 200%;
}
.owl-carousel-ctm .owl-nav .owl-next{
	right:0px;
	/*background: url(../images/main/_jq/bxslider_direction.png) no-repeat  right -42.5px;*/
	background: url(../images/main/_jq/bxslider_direction.png) no-repeat  right -60px;
	background-size: 200%;
}

.owl-carousel-ctm .owl-nav .owl-prev:hover {
    /*background:url(../images/main/_jq/bxslider_direction.png) no-repeat  left -42.5px;*/
    background: url(../images/main/_jq/bxslider_direction.png) no-repeat  left -60px; 
    background-size: 200%;
}

.owl-carousel-ctm .owl-nav .owl-next:hover {
    /*background:url(../images/main/_jq/bxslider_direction.png) no-repeat  right -42.5px;*/
    background: url(../images/main/_jq/bxslider_direction.png) no-repeat  right -60px;
    background-size: 200%;
}

.owl-carousel-ctm .owl-nav .owl-prev:hover,
.owl-carousel-ctm .owl-nav .owl-next:hover{opacity: 1;}

/*----------------carousel-brd-theme------------------*/

.owl-theme-brd .owl-nav{
	position: absolute;
	top:30%;
	margin-top:0;
	width: 100%;
}

.owl-carousel-brd .owl-nav .owl-prev,
.owl-carousel-brd .owl-nav .owl-next{
	/*width: 42px;
	height: 42px;*/
	width: 60px;
	height: 60px;

}

.owl-carousel-brd .owl-nav .owl-prev{
	left:0px;
	background: url(../images/main/_jq/bxslider_direction.png) no-repeat  left bottom;
	background-size: 200%;
}
.owl-carousel-brd .owl-nav .owl-next{
	right:0px;
	background: url(../images/main/_jq/bxslider_direction.png) no-repeat  right bottom;
	background-size: 200%;
}

.owl-carousel-brd .owl-nav .owl-prev:hover {
    background:url(../images/main/_jq/bxslider_direction.png) no-repeat  left bottom;
    background-size: 200%;
}

.owl-carousel-brd .owl-nav .owl-next:hover {
    background:url(../images/main/_jq/bxslider_direction.png) no-repeat  right bottom;
    background-size: 200%;
}

.owl-carousel-brd .owl-nav .owl-prev:hover,
.owl-carousel-brd .owl-nav .owl-next:hover{opacity: 1;}


/*-------------------------------------j_bxslider------------------------------------------*/

#j_bxslider{width: 100%;margin: 0 auto;}

.bxslider img{width: 100%;padding:2px;}

/*-------------------------------------pageContBox------------------------------------------*/

.pageContBox{ 
	position: absolute;
	bottom: 0;
	left:0;
	top:0;
	right:0;
	margin: auto;
	width: 50%;
	height: 160px;
/*	background-color: rgba(255,255,255,.85);*/
 }

.pageContBox h1,.pageContBox h3 { color:#fff;  }
.pageContBox h5 { color:#fff; }
.pageContBox p 	{ color:#eee; font-weight: 300;}

.pageContBoxItem1{ 
	position: absolute;
 	width: 100%;
 	height: 160px;
 	padding: 1em 2em;
 	text-align: center;
/*	background-color: rgba(231,45,15,.85);*/
  }


/*-------------------------------------article breadcrumbs------------------------------------------*/

#breadcrumbs{background:#f2f5f9;}

#breadcrumbs .inbox{padding: 1em;position:relative;}

.crumbs li{float: left;}

.crumbs li:after {content: '/';padding: 0 .8em 0 .8em;color: #999;}

.crumbs li.last a {color: #0ba1d0;font-weight: bold;}

.crumbs li.last:before, .crumbs li.last:after {content: '';}

#breadcrumbs .searchbox{ 
	position: absolute;
	top:0; bottom:0; right:0;
	width: 238px; height: 40px;
	margin:auto;
	background-color: #fff;
	padding:4px 20px;

 }

 #breadcrumbs .searchbox input{ 
	background: transparent;
	border:0px;	
	outline:0;
  }


/*-------------------------------------article cont------------------------------------------*/

article#cont{width: 100%;min-height: 100%;margin: 0 auto;}

article#cont h2 {
	display: block;
	width: 300px;
	height: 80px;
	margin: 0 auto 4% auto;
	text-align: center;
	text-indent: -9999px;
	background: url(../images/main/idxTitle.png);
	background-size: 100%;
}

article#cont h2.idxTit02{background-position:left -80px}
article#cont h2.idxTit03{background-position:left -160px}
article#cont h2.idxTit04{background-position:left -240px}
article#cont h2.idxTit05{background-position:left -320px}



/*---------------filters---------------*/

.inner_wrapper{width: 100%;/*max-width:450px;*/display: block;text-align: center;line-height: 36px;margin: 30px auto 60px auto;}

.inner_wrapper strong{padding: 2% ;}


/*---------------line---------------*/

.line_box
	{position: relative;width: 100%;/*max-width:405px;*/}

.line_box .line{
	position: absolute;
	width: 0;
	height: 3px;
	left: 0;
	bottom: -3px;
	display: block;
	background: rgb(111,228,252);
	background: -moz-linear-gradient(left,  rgba(111,228,252,1) 0%, rgba(0,133,255,1) 40%, rgba(54,83,144,1) 65%, rgba(54,83,144,1) 100%, rgba(0,66,106,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(111,228,252,1) 0%,rgba(0,133,255,1) 40%,rgba(54,83,144,1) 65%,rgba(54,83,144,1) 100%,rgba(0,66,106,1) 100%);
	background: linear-gradient(to right,  rgba(111,228,252,1) 0%,rgba(0,133,255,1) 40%,rgba(54,83,144,1) 65%,rgba(54,83,144,1) 100%,rgba(0,66,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe4fc', endColorstr='#00426a',GradientType=1 );
}

/*---------------grid---------------*/

.grid{width: 100%; max-width: 1350px;margin: 0 auto;}

.element-item{float: left; width: 235px;height: 235px;margin: 0 17.5px 70px 17.5px ; border:solid 2px #dedede; overflow: hidden;}

.element-item img{width: 100%;height: auto;}

.idx .pdtBox figure a{color: #0ba1d0}

.idx .pdtBox figure {
	margin: 0;
	position: relative;
	float: left;
	overflow: hidden;
	width: 235px;
	height: 235px;
	background: #3085a3;
/*	text-align: center;*/
	cursor: pointer;
}




/*-----------------*/
/***** Winston *****/
/*-----------------*/

/*.idx*/ figure.effect-winston {
	background: #ffffff;
	text-align: left;
}

/*.idx*/ figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}



/*.idx*/ figure.effect-winston h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

/*.idx*/ figure.effect-winston p {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 1.5em 7% 0;
}

/*.idx*/ figure.effect-winston h4 {
	position: absolute;
	left: 0;
	top: 0;
	padding: 7% 0 0 1.5em;
	color:#666;
}

/*.idx*/ figure.effect-winston h4:nth-child(2) {
	top: 1.3em;
}

/*.idx*/ figure.effect-winston h4:nth-child(3) {
	top: 2.6em;
}

/*.idx*/ figure.effect-winston a {
	/*margin: 0 10px;*/
	color: #5d504f;
	font-size: 170%;
}

/*.idx*/ figure.effect-winston a:hover,
/*.idx*/ figure.effect-winston a:focus {
	color: #3085a3;
}

/*.idx*/ figure.effect-winston p a i {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

/*.idx*/ figure.effect-winston h4 {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

/*.idx*/ figure.effect-winston:hover img {
	opacity: 0.1;
}

/*.idx*/ figure.effect-winston:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*.idx figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}*/

/*.idx*/ figure.effect-winston:hover h4 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*.idx*/ figure.effect-winston:hover p i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*.idx*/ figure.effect-winston:hover p a:nth-child(3) i {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

/*.idx*/ figure.effect-winston:hover p a:nth-child(2) i {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/*.idx*/ figure.effect-winston:hover p a:first-child i {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}







/*---------------owl-carousel-ctm---------------*/

.ctmItem{margin: 0 auto;width: 300px;height: 413px;padding: 10px;background: #fff;opacity: 1;}

.ctmItem{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.ctmItem:hover{opacity: .8;}

.ctmItem img{width: 100%;height: auto;margin:0 auto 10px auto;}

.ctmItem .ctmH4,.ctmItem .ctmH5{width:100%;text-align: center;}

.ctmItem .ctmCont{display:block;width: 100%;text-align: justify;padding: 14px;}



/*---------------owl-carousel-brd---------------*/

.brdItem{margin: 0 auto;width: 250px; height: 105px;}

.brdItem img{width: 100%; height: auto;opacity: 1; }

.brdItem img{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease
}

.brdItem img:hover{opacity: .8;}

/*---------------newCont---------------*/

.newCont{display: block; width: 50%;height: auto;margin: 0 auto;}


/*---------------video---------------*/

.contVideo{width: 100%; height: 500px;overflow: hidden;vertical-align: middle;}

video {
	right: 0;
	bottom: 0;
	min-width: 100%;
	/*min-height: 100%;*/
	width: 100%;
	height: auto;
	z-index: -100;
	background-size: cover;
}


/*-------------------------------------about circle------------------------------------------*/

.about .box4 .circle{
	display: block;
	width: 170px;
	height: 170px;
	border-radius:50%;
	background:#efefef; 
	margin: 0 auto 2em auto; 
	padding: 1.6em .5em;
}

.about .circleIcon,
.about .circleIcon2,
.about .circleIcon3,
.about .circleIcon4{
	width: 58px;
	height: 44px;
	background: url(../images/main/circleIcon.png) no-repeat left top ;
	background-size: 200%;
	margin: 0 auto .9em auto;
}

.about .circleIcon2{background-position: right top }
.about .circleIcon3{background-position: left bottom ;}
.about .circleIcon4{background-position: right bottom ;}

.about .circle h5{text-align: center;color: #0ba1d0; letter-spacing:.2px;　}
.about .circle h5:nth-child(3){color: #333;}

.about .circleimg{ width: 170px;height: 170px; margin: 0 auto 1em auto;}
.about .circleimg img{ width: 100%;height: auto; }

/*-------------------------------------about pdtBox------------------------------------------*/


/*---------------------*/
/***** hover effer *****/
/*---------------------*/

.about .pdtBox figure a{color: #0ba1d0}

.about .pdtBox figure {
	margin: 0;
	position: relative;
	float: left;
	overflow: hidden;
	width: 25%;
	min-width: 240px;
	max-height: 380px;
	height: auto;
	float: left;
	overflow: hidden;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

/*.about */.pdtBox figure img {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

/*.about */.pdtBox figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/*.about */.pdtBox figure figcaption::before,
/*.about */.pdtBox figure figcaption::after {
	pointer-events: none;
}

/*.about */.pdtBox figure figcaption,
/*.about */.pdtBox figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/*.about */.pdtBox figure figcaption > a {
	z-index: 900;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

/*.about */.pdtBox figure h3 {
	word-spacing: -0.15em;
	font-weight: 500;
}

/*.about */.pdtBox figure h3 span {
	font-weight: 800;
}

/*.about */.pdtBox figure h3,
/*.about */.pdtBox figure p {
	margin: 0;
}

/*.about */.pdtBox figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	line-height: 30px;
}

/*.about */.pdtBox figure.box4{width: 25%;height: auto;float: left;overflow: hidden;}

/*.about */.pdtBox figcaption{
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hiiden;
	backface-visibility: hiiden;

}
/*---------------*/
/***** Duke *****/
/*---------------*/
.about .pdtBox figure.effect-duke {
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.1) 0%, rgba(219,219,219,0.85) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.1) 0%,rgba(219,219,219,0.85) 100%);
background: linear-gradient(135deg,  rgba(255,255,255,0.1) 0%,rgba(219,219,219,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#d9dbdbdb',GradientType=1 );




}

.about .pdtBox figure.effect-duke img,
.about .pdtBox figure.effect-duke p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.about .pdtBox figure.effect-duke:hover img {
	opacity: 0.1;
	-webkit-transform: scale3d(2,2,1);
	transform: scale3d(2,2,1);
}

.about .pdtBox figure.effect-duke h3 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.about .pdtBox figure.effect-duke p {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 50px;
	padding: 30px;
	border: 2px solid #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transform-origin: 50% -100%;
	transform-origin: 50% -100%;
}

.about .pdtBox figure.effect-duke:hover h3,
.about .pdtBox figure.effect-duke:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
/*-------------------------------------about pageBanner------------------------------------------*/

.about #pageBanner  .inbox { padding:0; }
.about #pageBanner2 .inbox { padding:0; }

/*-------------------------------------products_Class pdtBox------------------------------------------*/


.products .pdtBox .progroup { padding: 2em; }
.products .pdtBox .progroup-item { padding:1em; background-color: rgba(232,238,241,.4);}
.products .pdtBox .progroup-item h5 { margin: 1em 0;text-align: center; color:#333;}
.products .pdtBox .progroup-item p { 
	display: inline-block;
	line-height: 30px;
	text-align: center;
	color:#9a9a9a;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	 }

.products .pdtBox .progroup-item a:hover { color:#2380a4; }


.products .pdtBox figure a{color: #333;font-weight: bold;}

.products .pdtBox figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 30%;
	min-width: 240px;
	max-height: 400px;
	height: auto;
	margin:0 1.65% ;
	float: left;
	overflow: hidden;
/*	background: #3085a3;*/
	text-align: center;
	cursor: pointer;
}

/*--------------*/
/***** Milo *****/
/*--------------*/

.products .pdtBox figure.effect-milo {
/*	background: #2e5d5a;*/
}

.products .pdtBox figure.effect-milo img {
/*	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);*/
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.products .pdtBox figure.effect-milo:hover img {
	opacity: 0.1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

.products .pdtBox figure.effect-milo:hover h3{
	color:#333;
	-webkit-transition: color 0.35s, -webkit-transform 0.35s;
	transition: color 0.35s, transform 0.35s;
}

.products .pdtBox figure.effect-milo h3 {
	position: absolute;
	right: 0;
	bottom: 0;
	left:0;
	padding: 1em 1.2em;
}

.products .pdtBox figure.effect-milo p {
	padding: 0 10px 0 10px;
	width: 100%;
	/*border-right: 1px solid #fff;*/
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

.products .pdtBox figure.effect-milo:hover p {
	opacity: .5;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*-------------------------------------products_Class pdtBox------------------------------------------*/

.customization .pdtBox .progroup { padding: 2em; }
.customization .pdtBox .progroup-item { padding:1em; background-color: rgba(232,238,241,.4);}
.customization .pdtBox .progroup-item h5 { margin: 1em 0;text-align: center; color:#333;}
.customization .pdtBox .progroup-item p { 
	display: inline-block;
	line-height: 30px;
	text-align: center;
	color:#9a9a9a;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	 }




.customization .pdtBox figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 30%;
	min-width: 240px;
	max-height: 400px;
	height: auto;
	margin:0 1.65% ;
	float: left;
	overflow: hidden;
/*	background: #3085a3;*/
	text-align: center;
	cursor: pointer;
}




.customization .pdtBox figure.effect-milo {
/*	background: #2e5d5a;*/
}

.customization .pdtBox figure.effect-milo img {
/*	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);*/
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.customization .pdtBox figure.effect-milo:hover img {
	opacity: 0.1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

.customization .pdtBox figure.effect-milo:hover h3{
	color:#333;
	-webkit-transition: color 0.35s, -webkit-transform 0.35s;
	transition: color 0.35s, transform 0.35s;
}

.customization .pdtBox figure.effect-milo h3 {
	position: absolute;
	right: 0;
	bottom: 0;
	left:0;
	padding: 1em 1.2em;
}

.customization .pdtBox figure.effect-milo p {
	padding: 0 10px 0 10px;
	width: 100%;
	/*border-right: 1px solid #fff;*/
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

.customization .pdtBox figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*-------------------------------------products_Details------------------------------------------*/


.proHead .inbox{padding-top: 0 ;padding-bottom: 0;}

.productsDetails .proDetails{padding: 7% 7% 2% 7%;}

.productsDetails .proDetails2{width: 90%;max-width:1350px;padding:3% 7%;border-top: solid 1px #ddd;}

.productsDetails #slider {
    /*margin-left: 10px;*/
    width: 50%;
    padding: ;
}

.bx-wrapper{
	margin: 0 auto;
}

.productsDetails .bx-wrapper .bx-viewport{
	margin: 0;
	padding: 0;
	box-shadow:none;
	border:0;
	left:0;
}


.productsDetails .bx-wrapper .bx-viewport .bxslider {
    margin: 0;
    padding: 0;
}

.productsDetails .thumb {
    width: 100%;
}

.productsDetails .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    bottom: -100px;
    width: 100%;
}


.productsDetails .bx-wrapper .bx-pager{
	position: relative;
	bottom: 0px;
	padding-top: 0;
}


.productsDetails .bx-wrapper .bx-pager .bx-pager-item{
	width: 25%;
	padding:2px;
}


.productsDetails .bx-wrapper .bx-pager-item a{
	padding: 2%;
}

.productsDetails .proDetails .share{margin: 4em auto;}

.productsDetails .proDetails .share a {
	float: left;
	width: 130px;
	height: 30px;
	line-height: 30px;
	opacity: .4;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, transform 0.4s;
}

.productsDetails .proDetails .share a:hover{opacity: 1;}

.productsDetails .proDetails .share a span{
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 1em;
	background: url(../images/main/shareIcon.png) no-repeat left top;
	background-size: 200%;
}

.productsDetails .proDetails .share .shareFb span{
	background-position: right top;
}

.proDetails3{
	width: 100%; 
	height: 350px;
	background:url(../images/main/proDetails.png) no-repeat;
}

.proDetails3 .box3{padding:  3.3%;}

/*.proDetails3 .box3 ul{float: left;}*/
.proDetails3 .box3 li{/*margin-left:50px;*/ list-style: disc; vertical-align:baseline; float: left;width:50%;}

.proDetails3 h4{line-height: 3em;}

article#cont h2 a.idxTit06{background-position:left -400px}
article#cont h2.idxTit07{background-position:left -480px}

.productsDetails .brdItem,
.customizationDetails .brdItem
{margin: 0 auto;width: 236px; height: 236px;}

.productsDetails .owl-theme-brd .owl-nav,
.customizationDetails .owl-theme-brd .owl-nav
{top:40%;}



.ctt_form{width: 100%;height: auto; margin: 0 auto ;}

.ctt_form .tt{
float: left;
width: 30.909091%;
height: 0;
padding-bottom: 4%;
margin: 16px 0;
display: block;
background-color: #e8eef1;
}

.ctt_form .tt2{
	float: left;
	width: 100%;
	height: 0;
	padding-bottom: 4%;
	margin: 16px 0 32px 0;
	display: block;
	background-color: #e8eef1;
}

.ctt_form .tt +.tt{margin-left: 3.636365%;}

.ctt_form .tt input[type="text"],
.ctt_form .tt2 input[type="text"]{
margin: 0 auto;
width: 100%;
height:50px;
padding: 17px;
display: block;
border: 0;
}

.ctt_form .tt_area{
width: 100%;
height: auto;
margin: 0 auto;
display: block;
overflow: hidden;
}

.ctt_form .tt_area textarea{
width: 100%;
height: 0;
padding: 17px;
padding-bottom: 13%;
border: 0;
overflow: hidden;
}

.ctt_form .sumt{
display: block;
width: 30.909091%;
height: 60px;
margin: 20px auto 50px auto;
}

.ctt_form .sumt +.sumt{margin-left: 3.636364%;}

.ctt_form .sumt input{
width: 100%;
height: 0;
height:60px;
background: #666;
border:0;
color: #fff;
font-size: 1.2em;
font-weight: bold;
}

.ctt_form .rest input{background: #E1F7D2; color:#999;} 


/*-------------------------------------customization_Class grid------------------------------------------*/

.customization .element-item{float: left; width: 280px;height: 416px;margin: 0 18px 70px 18px ; border:solid 2px #dedede;}

.customization .ctmItem{margin: 0 auto;width: 100%;height: 412px;}

/*-------------------------------------faq circle------------------------------------------*/

.faq .faqbox .box3{padding:1em 1em;margin: 0 0 3em 0; }

.faq .pageTitle03{margin:0;}

.faq .pageTitle03 h3{float: left;line-height: 62px;}

.pageTitle03 .circle{
	float: left;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	background:#0ba3d2;
	margin:0 1.2em 0 0  
}

.pageTitle03 .circle .circleIcon{
	width: 36px;
	height: 36px;
	background: url(../images/main/circleIcon2.png) no-repeat left top ;
	background-size: 300%;
	margin: 12px auto 0 auto;
}

.pageTitle03 .circle .circleIcon2{background-position: -36px top;}
.pageTitle03 .circle .circleIcon3{background-position: right top;}
.pageTitle03 .circle .circleIcon4{background-position: left -36px;}
.pageTitle03 .circle .circleIcon5{background-position: left -36px;}
.pageTitle03 .circle .circleIcon6{background-position: right -36px;}
.pageTitle03 .circle .circleIcon7{background-position: left -72px;}
.pageTitle03 .circle .circleIcon8{background-position: -36px -72px;}
.pageTitle03 .circle .circleIcon9{background-position: right -72px;}

.qBox a{
	display: block;
	width: 100%;
	color: #0099cc;
	text-indent: 5.3em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.qMore a{float: right;line-height: 3.2em;color:#ccc;}

.qMore a span{
	display: inline-block;
	width: 24px;
	height:24px;
	margin: 0 0 0 .5em;
	border:2px solid #ccc;
	border-radius: 50%;
	vertical-align: middle;
	line-height: 20px;
	text-indent: 1px;
	font-size: 16px;
}

/*-------------------------------------faq A------------------------------------------*/

.qCont{width: 100%;max-width: 960px;margin: 2em auto 0 auto;}

.qCont li a{display: block;}

.qCont li a h4{color: #0facd6;line-height: 3.5em;text-indent: 2em;}

.qCont li:nth-child(even){
	background: rgb(237,237,237);
	background: -moz-linear-gradient(-45deg,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 95%);
	background: -webkit-linear-gradient(-45deg,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 95%);
	background: linear-gradient(135deg,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
}

.qCont2 .pageTitle03{float: left; width: 182px;margin:20px 40px;}

.qCont3{width: 100%;max-width: 960px;margin: 2em auto 0 auto;padding: 4em 3em;}

.qCont3 h4{color: #0facd6;line-height: 2em;}

.qCont4{width: 100%;max-width: 960px;margin: 1.5em auto;}

.qCont4 a{color: #0facd6;}

.qPre h4{float: right;}
.qNext h4{float: left;}

.qPre{float: left;}
.qNext{float: right;}
.qPre::before{font-weight:bold;content:"⇦"; padding: 0 .8em 0 0;color:#ccc;}
.qNext::after{font-weight:bold;content:"⇨"; padding: 0 0 0 .8em;color:#ccc;}


/*-------------------------------------Contact------------------------------------------*/

article#cont h2.idxTit08{background-position:left -560px}


.cBox { text-align: center }




footer .box3{padding:1em 1em;margin: 0 0 3em 0; text-align: center; }

footer  .box3 .pageTitle03{display: inline-block;text-align: center}

footer  .box3 .pageTitle03 .circle{display: inline-block;float:none;text-align: center;margin: 0;}

footer  .box3 .pageTitle03 h3{float: none;line-height: 62px;text-align: center;}

footer  .box3 h5{color:#999;}

footer .box3 p { text-align: justify; }

.pageTitle03 .circle .circleIcon10{background-position: left -108px;}
.pageTitle03 .circle .circleIcon11{background-position: -36px -108px;}
.pageTitle03 .circle .circleIcon12{background-position: right -108px;}

/*-------------------------------------list------------------------------------------*/

.list .element-item{float: left;width: 300px;height: 480px;margin: 0 18.75px 70px 18.75px ; border:solid 0px #dedede;}

.list .element-item img{border:solid 2px #dedede;}

.list .element-item h4,
.list .element-item h5{text-align: left;}

.list .ctmItem .ctmCont{padding: 14px 0;}

.list .ctmItem{ 
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 480px;
	background-color: rgba(244,247,251,0);
}

.list .ctmItem .close{
	position: absolute;
	width: 36px;
	height: 36px;
	top:0;
	right: 0;
	background-color: rgb(244,247,251);
	background-image: url(../images/main/circleIcon2.png);
	background-size: 300%;
	background-position: -36px -36px;
	opacity: 0;
}


/*-------------------------------------footer------------------------------------------*/

footer{width: 100%;height: auto;background: rgb(247,247,247);}

footer .box3:nth-child(2){border-left: 1px solid #ccc;border-right: 1px solid #ccc; }

footer .box3 h4{margin-bottom: 10%;}

footer h5{font-size: .8em;}

footer a{
	color: #888;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

footer a:hover{
	color: #333;
}

footer li{color: #888;}

.cmmtyIcon{display: block;width:224px;height: 55px;margin: 300px auto 0 auto;overflow: hidden;}

.cmmtyIcon a{
	float: left;
	display: block;
	width: 36px;
	height: 36px;
	margin: 10px;
	background: url(../images/main/cmmtyIcon.png) no-repeat left top ;
	background-size: 200%;
	text-indent: -9999px; 
	opacity: .6;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.cmmtyIcon a:hover{
	opacity: 1;
}

.cmmtyIcon a.fb{background-position:left -36px}
.cmmtyIcon a.yt{background-position:right top}
.cmmtyIcon a.ig{background-position:right -36px}

.copyright{width: 100%;height: auto;text-align: center;padding-top: 2%;color: #ccc;font-weight: normal;}
.copyright a{color: #ccc}

.scrolloff{pointer-events: none;}

#googleMap { height: 500px; }

.mapCont .inbox { padding:3% 0 0 0 ; }




@media screen and (max-width: 959px){
/*-------------------------------------mobile------------------------------------------*/


.columns .col-sm-1 	{ width: 8.33333333333%; 	}
.columns .col-sm-2 	{ width: 16.6666666667%; 	}
.columns .col-sm-3 	{ width: 25%; 				}
.columns .col-sm-4 	{ width: 33.3333333333%; 	}
.columns .col-sm-5 	{ width: 41.6666666667%; 	}
.columns .col-sm-6 	{ width: 50%; 				}
.columns .col-sm-7 	{ width: 58.3333333333%; 	}
.columns .col-sm-8 	{ width: 66.6666666667%; 	}
.columns .col-sm-9 	{ width: 75%; 				}
.columns .col-sm-10 	{ width: 83.3333333333%; 	}
.columns .col-sm-11 	{ width: 91.6666666667%; 	}
.columns .col-sm-12 	{ width: 100%; 				}

.products .pdtBox .progroup { padding: 1em 0; }
.products .pdtBox .progroup-item { padding:1em; background-color: transparent;}
.products .pdtBox .progroup-item h5{ margin: 0 0 10px 0; text-align: left; }
.products .pdtBox .progroup-item p {  line-height: 1.1em; font-size: 14px; text-align: left;}

.customization .pdtBox .progroup { padding: 1em 0; }
.customization .pdtBox .progroup-item { padding:1em; background-color: transparent;}
.customization .pdtBox .progroup-item h5{ margin: 0 0 10px 0; text-align: left; }
.customization .pdtBox .progroup-item p {  line-height: 10px; font-size: 14px; text-align: left;}


.carouselContBox{ 
	position: absolute;
	bottom: 0em;
	width: 100%;
	height: 160px;
/*	background-color: rgba(255,255,255,.85);*/
 }

.carouselContBox h1 { color:#fff; font-size:1em; }
.carouselContBox h5 { color:#fff; }
.carouselContBox p 	{ color:#eee; font-weight: 800;}

.carouselContBoxItem1{ 
	display: none;
	position: absolute;
 	width: 75%;
 	height: 160px;
 	padding: 1em 2em;
 	text-align: left;
/*	background-color: rgba(231,45,15,.85);*/
  }

#pageBanner .inbox { padding: 0; }

.pageContBox{ 
	width: 90%;
	height: auto;
	padding: 1em 1em;
/*	background-color: rgba(255,255,255,.85);*/
 }

.pageContBox h1,.pageContBox h3 { color:#fff; font-size: 1em; }
.pageContBox h5 { color:#fff; }
.pageContBox p 	{ color:#eee; font-weight: 300; font-size: .8em;}

.pageContBoxItem1{ 
	position: absolute;
 	width: 100%;
 	height: auto;
 	padding: 0;
 	text-align: center;
/*	background-color: rgba(231,45,15,.85);*/
  }

.fw #header{height: 60px;}

#nav_box{display: none;}

#hambuger{display: block;}

#breadcrumbs{background: transparent;}
#breadcrumbs .inbox{ padding:2em; }
#breadcrumbs .crumbs{display: none;}
#breadcrumbs .searchbox{ 
	top:0;bottom:0;left:0;right:0;
	background-color: #f2f5f9;
 }

.contVideo { height: auto; }

.about .box4{width: 50%;padding: 2em 1em;}

.about .box2{width: 100%;padding: 2em;}

.about .pdtBox figure{width: 50%;} 

.about .pdtBox figure.effect-duke p{ 
	opacity: 1;
	background-color: rgba(255,255,255,.3)
 }

.about .pdtBox figure.effect-duke p a{
	color: #fff;
	font-weight: 800;
}

.products .pdtBox figure,
.customization .pdtBox figure{width: 100%;margin: 2em auto;}


.productsDetails #slider,
.productsDetails .proDetails{width: 100%;}
.proDetails3 .box3{width: 100%;}
.proDetails3{height: 600px;background-size: cover;}
#pageBox img{width: 100%;}

/*.idx*/ figure.effect-winston img { opacity: .6; }
/*.idx*/ figure.effect-winston img:hover { opacity: 1; }

/*.idx*/ figure.effect-winston h4 { padding: 7% 0 0 1.5em; }

/*.idx*/ figure.effect-winston h4:nth-child(1) { display: none; }

/*.idx*/ figure.effect-winston h4:nth-child(2) { top: 9.7em; }

/*.idx*/ figure.effect-winston h4:nth-child(3) { display: none;top: 8.6em }

figure.effect-winston p  { padding: 0 1.5em 4% 0; }

/*.idx*/ figure.effect-winston p a i { opacity: 1; }

/*.idx*/ figure.effect-winston h4 { opacity: 1; }

/*.idx*/ figure.effect-winston p a i {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*.idx*/ figure.effect-winston h4 {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.products .pdtBox figure.effect-milo:hover p { opacity: 0; }

.faq .faqbox .box3{width: 100%;}

.qBox a{text-indent: 0;}

.faq .pageTitle03{margin: 20px ;}

.contact .box3{width: 100%;}

.ctt_form .tt{
	width: 100%; margin: 25px 0;
}

.ctt_form .tt2{
	width: 100%; margin: 25px 0;
}

.ctt_form .tt +.tt{margin-left:0;}

.ctt_form .tt_area textarea{margin: 25px 0; padding-bottom: 40%;}

.productsDetails .brdItem, .customizationDetails .brdItem{ padding:1em; }

/*---------------footer---------------*/

footer .box3 h4{margin-bottom: 5%;}

footer .box3{width: 100%;padding:5% 8%;text-align: center;}

footer .box3:nth-child(2){border-left:0;border-right:0;}

#googleMap { height: 300px; }

}

@media screen and (max-width: 320px){ 
.grid { margin:0 auto 0 auto; }
.fw.customization .grid { margin:0 auto 0 -10px; }
.pageTitle01 h3, .pageTitle02 h3, .pageTitle03 h3{

	margin:1em 0 ;
	line-height: 1.2em;
}

.aboutBanner1{ 

	background-position: -1080px center;
 }



}

@media screen and (max-width: 480px){


.columns .col-xs-1 	{ width: 8.33333333333%; 	}
.columns .col-xs-2 	{ width: 16.6666666667%; 	}
.columns .col-xs-3 	{ width: 25%; 				}
.columns .col-xs-4 	{ width: 33.3333333333%; 	}
.columns .col-xs-5 	{ width: 41.6666666667%; 	}
.columns .col-xs-6 	{ width: 50%; 				}
.columns .col-xs-7 	{ width: 58.3333333333%; 	}
.columns .col-xs-8 	{ width: 66.6666666667%; 	}
.columns .col-xs-9 	{ width: 75%; 				}
.columns .col-xs-10 	{ width: 83.3333333333%; 	}
.columns .col-xs-11 	{ width: 91.6666666667%; 	}
.columns .col-xs-12 	{ width: 100%; 				}

.products .pdtBox .progroup { padding: 1em 0; }
.products .pdtBox .progroup-item { padding:1em; background-color: rgba(232, 238, 241, .4)}
.products .pdtBox .progroup-item h5{ margin: 0 0 10px 0; text-align: left; }
.products .pdtBox .progroup-item p {  line-height: 10px; font-size: 14px; text-align: left;}

.customization .pdtBox .progroup { padding: 1em 0; }
.customization .pdtBox .progroup-item { padding:1em; background-color: rgba(232, 238, 241, .4)}
.customization .pdtBox .progroup-item h5{ margin: 0 0 10px 0; text-align: left; }
.customization .pdtBox .progroup-item p {  line-height: 1.1em; font-size: 14px; text-align: left;}


.mobileHide{ display: none; }
.line_box .line { display: none; }

video#video { min-height:auto; }

.idx .newCont { width: 100%; }

.contVideo { height: auto; }

.about .box4{width: 100%;}

.about .box2{width: 100%;padding: 1em;}

.about .pdtBox figure{width: 100%;} 

#pageBox img { width: 100%; }

#googleMap { height: 300px; }



#pageBanner2 img{ width: 330%;margin-left:-550px; }
#pageBanner2 .inbox { padding:0; }

.pageContBoxItem1 { 
	height: 100px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
 }

.productsDetails .proDetails .share a{ margin: .5em 0; }


.qCont li a { padding:.5em 10px; }
.qCont li a h4 { line-height: 1.6em; text-indent: 0; }

.aboutBanner1{ 

	background-position: -1050px center;
 }

}




@media screen and (min-width: 960px) and (max-width: 1280px){
/*-------------------------------------pad------------------------------------------*/

.columns .col-m-1 	{ width: 8.33333333333%; 	}
.columns .col-m-2 	{ width: 16.6666666667%; 	}
.columns .col-m-3 	{ width: 25%; 				}
.columns .col-m-4 	{ width: 33.3333333333%; 	}
.columns .col-m-5 	{ width: 41.6666666667%; 	}
.columns .col-m-6 	{ width: 50%; 				}
.columns .col-m-7 	{ width: 58.3333333333%; 	}
.columns .col-m-8 	{ width: 66.6666666667%; 	}
.columns .col-m-9 	{ width: 75%; 				}
.columns .col-m-10 	{ width: 83.3333333333%; 	}
.columns .col-m-11 	{ width: 91.6666666667%; 	}
.columns .col-m-12 	{ width: 100%; 				}

.products .pdtBox .progroup { padding: 1em 2em; }
.products .pdtBox .progroup-item { padding:1em; }
.products .pdtBox .progroup-item h5{ margin: 0 0 10px 0; text-align: left; }
.products .pdtBox .progroup-item p {  line-height: 10px; font-size: 14px; text-align: left;}

.customization .pdtBox .progroup { padding: 1em 2em; }
.customization .pdtBox .progroup-item { padding:1em; }
.customization .pdtBox .progroup-item h5{ margin: 0 0 10px 0; text-align: left; }
.customization .pdtBox .progroup-item p {  line-height: 10px; font-size: 14px; text-align: left;}

.fw #header{height: 60px;}
#nav_box{display: none;}
#hambuger{display: block}

.carouselContBox { width: 35%; }

.carouselContBoxItem1{ 
	position: absolute;
 	width: 100%;
 	height: 160px;
 	padding: 1em 2em;
 	text-align: center;
/*	background-color: rgba(231,45,15,.85);*/
  }

figure.effect-winston p  { padding: 0 1.5em 4% 0; }
.products .pdtBox figure.effect-milo:hover p { opacity: 0; }

.about .box4{width: 50%;}

.about .pdtBox figure.effect-duke p{ 
	opacity: 1;
	background-color: rgba(255,255,255,.3)
 }

.about .pdtBox figure.effect-duke p a{
	color: #fff;
	font-weight: 800;
}

.products .pdtBox figure {
}


.faq .faqbox .box3{width: 50%;}

/*.about .pdtBox figure{width: 50%;} */




}