@charset "utf-8";
@font-face{
    font-family: 'Broadway';
    src: url('../../font/primary/broadway.eot') format('embedded-opentype'),
         url('../../font/primary/broadway.svg') format('svg'),
         url('../../font/primary/broadway.woff') format('woff'),
         url('../../font/primary/broadway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.ng-cloak {display: none;}

.bootstrap-datetimepicker-widget.dropdown-menu{
    opacity: 1 !important;
    visibility: visible !important;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=span] {
    margin-bottom: 0 !important;
}

#wrapper {
    padding: 20px 0 30px 0;
}
#header .navbar {
    margin-bottom: 20px;
}
#container {
    margin: 0;
}
#lists {
    margin: 75px 0 0 0;
}
#lists li>a {
    padding: 2px 15px;
}
#lists .active>a {
    background-color: #bbb;
}
#lists .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
#footer {
    min-height: 30px;
    padding: 5px 0;
    background-color: #000;
    color: #888;
    font-size: 12px;
    box-shadow: 0 -2px 3px 3px rgba(0,0,0,.5);
}
#footer .nav>li>a {
    text-shadow: none;
}
#footer .nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}
#footer .link {
    margin: 0;
}
#footer .link .divider {
    width: 1px;
    height: 35px;
    background-color: #333;
    margin: 0 2px;
}
#footer .link a:hover {
    background-color: #333;
}
#loading .modal-dialog{
    width:100%;
    height:100%;
    display:table;
    margin:0;
}
#loading .modal-dialog .container {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
#loading .modal-dialog .container .spinner {
    top:50%;
    left:50%;
}
#lightbox .modal-content {
    width: 100%;
    height: 100%;
    display: table;
}
#lightbox .modal-body {
    padding:0;
    
    display: table-cell;
    vertical-align: middle;
}
#lightbox .modal-body .image {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#lightbox .modal-body .controller .left,
#lightbox .modal-body .controller .right{
    width:100px;
    height:100px;
    color:#fff;
}
#lightbox .modal-body .container{
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    background-color:#000;
    opacity:.5;
    filter:alpha(opacity=50);
}
#analysis .well {
    background-color:#f8f8f8;
}
#analysis .day {
    font-weight:bold;
    color:#888;
}
#control .dropdown-menu {
    min-width: 100px;
}
#analysis .count {
    margin:20px 0 0 0;
    font-size:26px;
}
#alert {
    display: none;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 10px;
    margin: 0;
}
.well {
    background-color: #fff;
}
.page-header {
    padding-bottom: 10px;
    margin: 0 0 20px;
    border-bottom: 1px solid #e7e9ec;
}
.modal {
    overflow-y: auto;
}
.select .btn {
    width: 100%;
}
.btn-group.select .dropdown-menu {
    min-height: 0 !important;
    z-index: 9999 !important;
}
.btn-group.select .dropdown-menu {
    width: 100%;
    min-height: 0 !important;
}
.btn-group.bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.btn-group.bootstrap-select .btn-block {
    white-space: nowrap;
}
.btn-group.bootstrap-select:not([class*=open]) > .dropdown-menu {
    display: none;
}
.open > .dropdown-menu {
    margin-top: 8px !important;
}
pre {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.prettyprint ol.linenums > li {
    list-style-type: decimal;
}
.toolbar {
    position: relative;
    min-height: 47px;
}
.table {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.table tr {
    background-color: #fff;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 0 0 0 5px;
}
.table td:first-child {
    padding: 0;
}
.table td p {
    margin: 0;
}
.table td .sortable {
    cursor: move;
}
.pagination {
    margin: 0;
}
.input-half {
    width: 94px;
}
.tab-content {
    background-color: #fff;
    padding: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs {
    margin-bottom: 0;
}
.radio {
    padding-right: 10px;
}
.checkbox .icons, .radio .icons {
    top: auto;
}
.radio, .checkbox {
    display: inline-block;
}
.checkbox, .radio {
    padding-left: 22px;
}
.mce-toolbar button {
    height:20px;
}
.ui-datepicker {
    width: 290px;
}
#ui-datepicker-div{z-index:999 !important;}
#email_detail .modal-dialog{width:800px;}
#email_detail .modal-dialog .close{margin:5px 10px 0 0;}
#email_detail .modal-dialog .form-group label{line-height:2;}
#order_detail .modal-dialog{width:800px;}
#order_detail .modal-dialog .close{margin:5px 10px 0 0;}
#order_detail .modal-dialog hr{margin:5px 0;}
#order_detail .modal-dialog .form-group{margin-bottom:0;}
#order_detail .modal-dialog .form-group label{line-height:1.4;}
#order_detail .modal-dialog .form-group .panel{margin-bottom:0;}
#error_log_detail .modal-dialog{width:960px;}
pre.ace_editor{min-height:400px;}
@media (min-width: 1200px) {}
@media (min-width: 768px) and (max-width: 979px) {
    #footer.navbar-fixed-bottom {
        margin-top: 0;
    }
}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {
    #menu {display: none;}
}