#editor {
    padding: 10px;
}
#editor img {
    width: 100%;
}
.product_page_pro_info_pro_desc {
  width: 100%;
  float: left;
}
.product_page_pro_info_pro_desc .desc_tit {
  display: inline-block;
  padding: 2px 15px;
  background: #0071b9;
  color: #fff;
}
.product_page_pro_info_pro_desc .desc_text {
  padding: 10px 0;
  line-height: 1.6em;
  color: #333;
  margin-bottom: 20px;
}
.product_page_pro_detail {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.product_page_pro_detail .detail_tit {
    width: 100%;
    float: left;
    border-bottom: solid 1px #ddd;
}
.product_page_pro_detail .detail_tit span {
    display: inline-block;
    padding: 2px 15px;
    background: #0071b9;
    color: #fff;
}
.product_page_pro_detail .detail_block {
    width: 100%;
    float: left;
    padding: 4% 0;
    margin-bottom: 30px;
}

.product_page_custom {
    width: 100%;
    padding:0 50px;
    overflow: hidden;
}
.product_page_custom h4 {
    line-height: 3em;
    font-size: 1.125em;
}
.product_page_custom li {
    list-style: disc;
    vertical-align: baseline;
    float: left;
    width: 50%;
    list-style-position: inside;
}
