@charset "utf-8";
html {
    height: 100%;
}
body {
    height: 100%;
    background: #BDC3C7;
}
.login-form:before {
    content: none;
}
.form-control {
    border: 2px solid #fff;
}
#wrapper {
    height: 100%;
    padding: 0;
}
#container {
    height: 100%;
    width: 100%;
    padding: 0;
    display:table;
}
#container #login {
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}