@charset "utf-8";
h1, h2, h3 {margin: 0;}
label {
    margin: 0;
    line-height: 1.2;
}
#menu {display: none;}
#header {display: none;}
#footer {display: none;}
#wrapper > .row > .col-md-10 {width: 100%;}

#order_print_detail .page_first {position: relative;}
#order_print_detail .page_first .logo {position: absolute;right: 0;margin: 0;font-family: 'Broadway';}
#order_print_detail .page_second {position: relative;border-top: 1px dashed #000;}
#order_print_detail .page_second .logo {position: absolute;right: 0;margin: 0;font-family: 'Broadway';}
#order_print_detail .text-center.small {font-size: 50%;padding: 20px 0;}

#order_print_address .recipient {padding-left: 100mm;}
#order_print_address .recipient .name {font-size: 2em;}

#orders_print_detail .order {page-break-after: always;}
#orders_print_detail .order:last-child {page-break-after: auto;}