
/* Gray Theme */

.menu_container.gray .menu-ul > li {
    border-bottom: 4px solid #9ba9b3;
}
.menu_container.gray .menu-ul > li:hover,
.menu_container.gray .menu-ul > li.active {
    background: #9ba9b3;
    /*top: 2px;*/
}

.menu_container.gray.vertical .menu-ul > li {
    border-right: 4px solid  #9ba9b3;
}

.menu_container.gray .field-submit:hover {
    background: #9ba9b3;
}